{extend name="/common/templates/tpl-w-sb"} 
{block name="page-title"}我的收藏{/block} 
{block name="custom-css"}
<link rel="stylesheet" href="/assets/css/index/mallmanage/my_collection.css"> 
{/block} 
{block name="main-part"}
<div class="qk-portlet">
    <div class="qk-portlet-title" style="padding-left:23px;padding-top:13px;height:50px;">
        <img class="qk-portlet-title-img" src="/assets/img/star1-light-red.png" style="margin-right: 4px;" />
        <span class="qk-portlet-title-text">我的收藏</span>
    </div>

    <div class="qk-portlet-content" style="padding:20px;padding-bottom: 66px;padding-right: 0px;">
        <div class="row">
            {foreach $collection as $key=>product}
            {/foreach}
            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png"/>
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：<span class="price-value">100.00</span></p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>

            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png" />
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：
                    <span class="price-value">100.00</span>
                </p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>

            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png" />
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：
                    <span class="price-value">100.00</span>
                </p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>

            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png" />
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：
                    <span class="price-value">100.00</span>
                </p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>

            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png" />
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：
                    <span class="price-value">100.00</span>
                </p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>
            
            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png" />
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：
                    <span class="price-value">100.00</span>
                </p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>
            
            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png" />
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：
                    <span class="price-value">100.00</span>
                </p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>
            
            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png" />
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：
                    <span class="price-value">100.00</span>
                </p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>

            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png" />
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：
                    <span class="price-value">100.00</span>
                </p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>
            
            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png" />
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：
                    <span class="price-value">100.00</span>
                </p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>
            
            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png" />
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：
                    <span class="price-value">100.00</span>
                </p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>
            
            <div class="col">
                <img class="product-image" src="/assets/img/cart-image.png" />
                <p class="product-desc">原创设计北欧简约床边挂袋毛毡 遥控器平板寝室卧室沙发整理</p>
                <p class="product-price">时间币：
                    <span class="price-value">100.00</span>
                </p>
                <div class="actions">
                    <a href="#" role="button" class="btn btn-danger add-to-cart">加入购物车</a>
                    <a href="#" role="button" class="btn btn-danger buy-now">立即购买</a>
                </div>
            </div>
            
        </div>
    </div>
</div> 
{/block}