{extend name="/common/templates/tpl-wo-sb2"}

{block name="page-title"}关于我们{/block}
{block name="main-part"}
<div class="containers">
    <div class="header-topic-container">
        <div class="aboutUs-topic"> 关于我们</div>
        <div class="topic-2">
            <p class="t-news-center">About us</p>
        </div>
    </div>

    <p class="topic-3">公司介绍</p>
    <div class="bb-red-dash" style="padding-bottom: 52px;">
        <img src="/assets/img/35-1.png" style="float:left;"/>
        <div  style="float:left;margin-top: 20px; margin-left: 20px;width: 550px;">关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍关于我们的介绍</div>
        <div class="clearfix"></div>
    </div>


    <p class="topic-3" style="margin-top: 45px;">联系我们</p>
    <p>联系电话：400-000-000</p>
    <p>公司地址：某某市某某区某某街道某某大楼某某号4-5</p>
</div>
{/block}
{block name="custom-css"}
<link href="/assets/css/index/about_us/index.css" rel="stylesheet" type="text/css" />
{/block}