{extend name="/common/templates/tpl-wo-sb1"}

{block name="page-title"}志愿者{/block}
{block name="main"}
<div style="width:1100px;">
    <span class="topic-1" style="padding-left: 500px;"> 志愿者风采</span>
    <div class="topic-2" style="width: 507px;margin: 12px 297px 29px;">
        <p class="t-news-center" style="padding-left: 34px;width: 205px;">Volunteer grace</p>
    </div>
    <div class="volunter-container">
        <div class="data-container"></div>
        <div id="pagination" style="margin-top: -82px;float: right"></div>
    </div>
</div>
{/block}
{block name="custom-css"}
<link href="/assets/css/index/index/volunteer_grace.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/pagination/pagination.css" rel="stylesheet" type="text/css" />
{/block}
{block name="custom-js"}
<script src="/assets/js/pagination/pagination.js" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        pageShows();
    });

    function pageShows()
    {
        var container = $('#pagination');
        $.ajax({
            url  : '/index/index/volunteer_grace/0',
            type : 'GET',
            dataType : 'json',
            success: function (result) {
                json = JSON.parse(result);
                var response = json.data;

                $.extend($.fn.pagination.defaults, {
                    pageSize: 5
                })

                var tempData=[];
                for(var i=0;i<response.length;i+=2)
                {
                    var exItem=[];
                    exItem[0] = response[i];
                    if (i != response.length - 1)
                        exItem[1] =response[i + 1];
                    else
                        exItem[1] = null;

                    tempData[i / 2] = exItem;
                }

                var options = {
                    dataSource:tempData,
                    callback: function (response, pagination) {

                        var dataHtml = '';
                        $.each(response, function (index, item) {
                            console.log(item[0].mark);
                            dataHtml += '<div class="boxs">\n' +
                                '            <div class="list-item left">\n' +
                                '                <img src="/uploads/'+item[0].image+'">\n' +
                                '                <div class="description">\n' +
                                '                    <p>'+item[0].name+'</p>\n' +
                                '                    <div style="margin: 5px 0px 11px -7px;">\n' +
                                // '                        <span class="stars-container stars-11">★★★★★</span>\n' +
                                '                         <span class="stars" data-rating="'+item[0].avg_rv+'" data-num-stars="5" ></span>\n' +
                                '                    </div>\n' +
                                '                    <p>\n' +
                                '                        <span>服务承接次数：'+item[0].cnt_apply+'</span>\n' +
                                '                        <span style="margin-left: 47px;">所属地区：'+item[0].address+'</span>\n' +
                                '                    </p>\n' +
                                '                    <p class="letters">志愿者赠语：</p>\n' +
                                '                    <p class="letters">'+item[0].cnt_rv +'</p>\n' +
                                '                </div>\n' +
                                '            </div>\n';
                            if(item[1] != null)
                                dataHtml +=    ' <div class="list-item left" style="border-right: none; margin-right: 0px;">\n' +
                                    '                <img src="/uploads/'+item[1].image+'">\n' +
                                    '                <div class="description" style="width: 360px;padding-right: 0px;">\n' +
                                    '                    <p>'+item[1].name+'</p>\n' +
                                    '                    <div style="margin: 5px 0px 11px -7px;">\n' +
                                    // '                         <span class="stars-container stars-'+item[1].rating_number+'">★★★★★</span>\n' +
                                    '                         <span class="stars" data-rating="'+item[1].avg_rv+'" data-num-stars="5" ></span>\n' +
                                    '                    </div>\n' +
                                    '                    <p>\n' +
                                    '                        <span>服务承接次数：'+item[1].cnt_apply+'</span>\n' +
                                    '                        <span style="margin-left: 47px;">所属地区：'+item[1].address+'</span>\n' +
                                    '                    </p>\n' +
                                    '                    <p class="letters">志愿者赠语：</p>\n' +
                                    '                    <p class="letters">'+item[1].cnt_rv+'</p>\n' +
                                    '                </div>\n' +
                                    '            </div>\n' +
                                    '        </div>';
                        });
                        container.prev().html(dataHtml);
                        $('.stars').stars();
                    }
                };
                container.pagination(options);
            }
        })
    }
    $.fn.stars = function() {
        return $(this).each(function() {
            console.log('star called');
            var rating = $(this).data("rating");

            var numStars = $(this).data("numStars");

            var fullStar = new Array(Math.floor(rating + 1)).join('<i class="fa fa-star"></i>');

            var halfStar = ((rating%1) !== 0) ? '<i class="fa fa-star-half-empty"></i>': '';

            var noStar = new Array(Math.floor(numStars + 1 - rating)).join('<i class="fa fa-star-o"></i>');

            $(this).html(fullStar + halfStar + noStar);

        });
    }

</script>
{/block}



