{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}会员中心{/block}

{block name="custom-css"}
    <link rel="stylesheet" href="/assets/css/index/index/member_center.css">
{/block}

{block name="main-part"}
<div style="height:922px">
    <div id="personal-info">
        <div style="position:relative">
            <img src="/assets/img/gerenziliao.png" style="position:absolute;z-index:1" />
            <div style="width:365px;height:240px;border:1px dashed #ff5656;outline:4px solid #ffd9d9;position:absolute;left:5px;top:5px;padding-left:62px;padding-top:31px">
                <p>
                    <img src="/assets/img/name.png" />
                     <span class="subtitle">会员姓名：</span>张某某
                </p>
                <p>
                    <img src="/assets/img/member-number.png" />
                     <span class="subtitle">会员编号：</span>0000001
                </p>
                <p>
                    <img src="/assets/img/account-balance.png" />
                     <span class="subtitle">账户余额：</span>1000
                </p>
                <p>
                    <img src="/assets/img/portion.png" />
                     <span class="subtitle">当前兑换比例：</span>人民币：时间币 = 1：1
                </p>
                <p>
                    <img src="/assets/img/time.png" />
                     <span class="subtitle">上次登录时间：</span>2018-04-02 19：16：09
                </p>
            </div>
        </div>
    
        <div style="position:relative;left:388px;top:5px">
            <img src="/assets/img/xuqiugaikuo.png" style="position:absolute;z-index:1;top:-5px;left:-4px" />
            <div style="width:545px;height:240px;border:1px dashed #ff9710;outline:4px solid #feeed9;position:absolute;padding-top: 32px;padding-left: 62px;">
                <div style="border-bottom: 1px dashed #ff9710;padding-bottom: 11px">
                    <p class="yellow-colored" style="color:#ff9710"><img src="/assets/img/paper-plane-yellow.png" />我发布的需求</p>
                    <p class="yellow-content" style="word-spacing: 27px;">
                        未被承接(0) 已承接(0) 未完成(0) 已完成(0) 为评论(0)
                    </p>
                </div>
                <div style="padding-top:28px">
                    <p class="yellow-colored" style="color:#ff9710"><img src="/assets/img/undertake-yellow.png" />我承接的需求</p>
                    <p class="yellow-content" style="word-spacing: 31px;">
                        已承接(0) 待审核(0) 已完成(0) 未评论(0)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="qk-portlet" style="position:relative;top:260px;left:-1px;margin-bottom:9px">
        <div class="qk-portlet-title">
            <img class="qk-portlet-title-icon" src="/assets/img/paper-plane.png" />
            <span class="qk-portlet-title-text">我发布的需求</span>
            <img class="arrow-right" src="/assets/img/arrow-right.png" style="float:right;margin-top:3px;margin-right:18px"/>
        </div>
        <div class="qk-portlet-content">
            <table>
                <thead>
                    <th width="95px">序号</th>
                    <th width="135px">需求类型</th>
                    <th width="369px">需求名称</th>
                    <th width="120px">时间贝</th>
                    <th width="117px">发布时间</th>
                    <th width="100px">状态</th>
                </thead>
                <tbody>
                    <?php
                        $i = 0;
                        if  (count($published_data)==0)
                        {
                            echo "<tr><td colspan='6' style='color:red;'>发没有搜索结果</td></tr>";
                        }
                        else
                        {
                            foreach($published_data as $key => $val)
                            {
                            echo "<tr>";
                                echo "<td>".++$i."</td>";
                                echo "<td>".$val['demand_type']."</td>";
                                echo "<td>".$val['title']."</td>";
                                echo "<td>".$val['pay_amount']."</td>";
                                echo "<td>".$val['published_time']."</td>";
                                echo "<td>".model('Demand')->getPublishState($val['state'],$val['is_reviewed'])."</td>";
                                echo "</tr>";
                            }
                        }

                    ?>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="qk-portlet" style="position:relative;top:260px;left:-2px">
        <div class="qk-portlet-title">
            <img class="qk-portlet-title-icon" src="/assets/img/undertake.png" style="margin-right: 3px" />
            <span class="qk-portlet-title-text">我承接的需求</span>
            <img class="arrow-right" src="/assets/img/arrow-right.png" style="float:right;margin-top:3px;margin-right:18px" />
        </div>
        <div class="qk-portlet-content">
            <table>
                <thead>
                    <th width="97px">序号</th>
                    <th width="133px">需求类型</th>
                    <th width="261px">需求名称</th>
                    <th width="115px">发布者</th>
                    <th width="107px">时间贝</th>
                    <th width="131px">发布时间</th>
                    <th width="92px">状态</th>
                </thead>
                <tbody>
                <tbody>
                <?php
                    $i = 0;
                    if  (count($underker_data)==0)
                    {
                         echo "<tr><td colspan='7' style='color:red;'>发没有搜索结果</td></tr>";
                    }
                    else
                    {
                        foreach($underker_data as $key => $val)
                        {
                        echo "<tr>";
                            echo "<td>".++$i."</td>";
                            echo "<td>".$val['name']."</td>";
                            echo "<td>".$val['title']."</td>";
                            echo "<td>".$val['publisher']."</td>";
                            echo "<td>".$val['pay_amount']."</td>";
                            echo "<td>".$val['published_time']."</td>";
                            echo "<td>".model('Demand')->getFreelancerState($val['state'],$val['is_reviewed'])."</td>";
                            echo "</tr>";
                        }
                    }
                ?>
                </tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}
