{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}消息{/block}
{block name="main-part"}
<div>
    <div class="qk-portlet" style="margin-top:1px;width: 940px;margin-left:-2px">
        <div class="qk-portlet-title" style="padding-left:26px;">
            <img class="qk-portlet-title-icon" src="/assets/img/shape40.png" />
            <span class="qk-portlet-title-text">我的消息</span>
        </div>
        <div class="qk-portlet-content" style="width: 100%;padding-top: 25px;padding-left:25px;">
            <div class="row" style="margin-top: 0px; margin-left: 23px;">
                <div class="cri-key " style="width: 48px;margin-top: -3px;margin-left: 7px;">选择：</div>
                <input id="lx-1" class="radio-inline__input" type="radio" name="lx" value="item-1" >
                <label class="radio-inline__label mr10" for="lx-1" style="font-size: 16px;margin-left: 32px;margin-top: -7px;">
                    全部
                </label>
                <input id="lx-2" class="radio-inline__input" type="radio" name="lx" value="item-1" style="font-size: 16px;margin-left: 32px;margin-top: -7px;">
                <label class="radio-inline__label mr10" for="lx-2" style="font-size: 16px;margin-left: -2px;margin-top: -7px;">
                    已读
                </label>
                <input id="lx-3" class="radio-inline__input" type="radio" name="lx" value="item-1">
                <label class="radio-inline__label mr10" for="lx-3" style="font-size: 16px;margin-left: -3px;margin-top: -7px;">
                    未读
                </label>
            </div>

            <div style="clear: both"></div>
            <div class="qk-portlet-content-1" style="margin-top:10px">
                <table>
                    <thead>
                        <tr>
                            <th style="white-space:nowrap;width:86px;">序号</th>
                            <th style="white-space:nowrap;width:110px;">
                                <div class="checkbox checkbox-primary" style="padding-left:0px;">
                                    <input id="checkAll" type="checkbox">
                                    <label for="checkAll"></label>
                                </div>
                            </th>
                            <th style="white-space:nowrap;width:284px;">消息标题</th>
                            <th style="white-space:nowrap;width:146px;">发布人</th>
                            <th style="white-space:nowrap;width:147px;">发布时间</th>
                            <th style="white-space:nowrap;width:128px;">阅读状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6</td>
                            <td>
                                <div class="checkbox checkbox-primary" style="padding-left:0px;">
                                <input id="checkbox_6" type="checkbox">
                                <label for="checkbox_6"></label>
                                </div>
                            </td>
                            <td>
                                内容标题内容标题内容标题内容标题
                            </td>
                            <td>管理者</td>
                            <td>2018-04-11 12:10</td>
                            <td>已读</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <div class="checkbox checkbox-primary" style="padding-left:0px;">
                                    <input id="checkbox_5" type="checkbox">
                                    <label for="checkbox_5"></label>
                                </div>
                            </td>
                            <td>
                                内容标题内容标题内容标题内容标题
                            </td>
                            <td>管理者</td>
                            <td>2018-04-11 12:10</td>
                            <td>已读</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div class="checkbox checkbox-primary" style="padding-left:0px;">
                                    <input id="checkbox_4" type="checkbox">
                                    <label for="checkbox_4"></label>
                                </div>
                            </td>
                            <td>
                                内容标题内容标题内容标题内容标题
                            </td>
                            <td>管理者</td>
                            <td>2018-04-11 12:10</td>
                            <td>已读</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="custom-css"}
<link href="/assets/css/index/index/message.css" rel="stylesheet" type="text/css" />
{/block}
{block name="custom-js"}
<script>
    $(document).ready(function() {
        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });

        $("[id*=checkbox_]").change(function () {
            if ($('input[id*=checkbox_][type=checkbox]:checked').length == $('input[id*=checkbox_][type=checkbox]').length) {
                $('#checkAll').prop('checked', true);
            } else {
                $('#checkAll').prop('checked', false);
            }
        });
    });

</script>
{/block}