{extend name="/common/templates/tpl-wo-sb2"} {block name="page-title"}关于我们{/block} {block name="main-part"}
<div class="containers">
    <div class="header-topic-container">
        <div class="aboutUs-topic"> 招聘信息</div>
        <div class="topic-2">
            <p class="t-news-center">Recruitment Information</p>
        </div>
    </div>
    <div class="des-con">
        <div class="description">联系方式：
            <span id="contact_phone"></span>
        </div>
        <div class="clearfix"></div>
        <div class="description" style="letter-spacing: 14px;">邮箱：</div>
        <span id="email"></span>
        <div class="clearfix"></div>
        <div class="description" style="letter-spacing: 14px;">格式：</div>
        <span id="format"></span>
    </div>

    
    <div class="accordion">
        {foreach $job_offers as $key => $value}
        <div class="tab blue">
            <input id="tab-{$value.id}" type="radio" name="tabs2" tag-id="{$value.id}">
            <label for="tab-{$value.id}">{$value.name}
                <span class="d1">工作地点：{$value.address}</span>
            </label>
            <div class="tab-content" style="display: block;">
                <p style="font-family: ms-yahei-bold;">岗位描述：</p>
                <p>{$value.description}</p>
                <p style="font-family: ms-yahei-bold;">岗位要求：</p>
                <p>{$value.requirements}</p>
            </div>
        </div>
        {/foreach}
    </div>


</div>
{/block} {block name="custom-css"}
<link href="/assets/css/index/about_us/recruitment_information.css" rel="stylesheet" type="text/css" /> {/block} 
{block name="custom-js"}
<script>
$(document).ready(function () {
    $("input[name=tabs2]").change(function (){
        var id = $(this).attr("tag-id");
        $.ajax({
            url:"/index/about_us/recruitment_information/getcontactinfo",
            method:"POST",
            data:{id:id},
            success: function(response) {
                response = JSON.parse(response);
                $("#contact_phone").text(response.contact_phone);
                $("#email").text(response.email);
                $("#format").text(response.format);
            }
        })
    });
    $("div.accordion > div.tab:first-child > input").prop("checked", true);
    $("div.accordion > div.tab:first-child > input").change();
});
</script> 
{/block}