{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}实名认证{/block}

{block name="custom-css"}
<link rel="stylesheet" href="/assets/css/index/index/real-name-veri.css">

{/block}

{block name="main-part"}
<div>
    <div class="qk-portlet" style="margin-top:1px;width: 940px;margin-left:-2px">
        <div class="qk-portlet-title">
            <img class="qk-portlet-title-icon" src="/assets/img/personal.png" />
            <span class="qk-portlet-title-text">个人信息</span>
        </div>
        <div class="qk-portlet-content form">
            <form action="/index/data_management/verify" id="verifyForm" enctype="multipart/form-data" method="POST">
                <div>
                    <div style="float:left;width:675px">
                        <div class="form-group" style="width:652px">
                            <div class="left"><label>姓名：</label></div>
                            <div class="right">
                                <input type="text" class="form-control" name="name" id="name"/>
                            </div>
                            <!--<label class="error" for="name" id="name_error">这是必填栏。</label>-->
                        </div>
                        <div class="form-group" style="width:652px">
                            <div class="left"><label>身份证号码：</label></div>
                            <div class="right">
                                <input type="text" class="form-control" name="iden_number" id="iden_number"/>
                            </div>
                            <!--<label class="error" for="iden_number" id="iden_number_error">这是必填栏。</label>-->
                        </div>
                        <div class="form-group" style="height: 148px;width:652px">
                            <div class="left"><label>身份证正面：</label></div>
                            <div id="image-preview-positive" class="right add-picture">
                                <input type="file" name="positive_id" id="positive_id" />
                            </div>
                        </div>
                    </div>
                    <div class="add-avatar">
                        <video id="video" style="width: 220px;height: 240px;border: 1px solid #ff5656;" autoplay></video>
                        <!--<div style="width: 220px;height: 240px;border: 1px solid #ff5656;background:url('/assets/img/plus.png') no-repeat;background-position:center 65px;">
                            <video id="video" width="640" height="480" autoplay></video>
                            <p style="margin-top: 138px;margin-left: 67px;">添加会员头像</p>
                            <p style="    margin-top: -24px;margin-left: 69px;">(摄像头拍摄)</p>
                        </div>-->
                    </div>
                </div>

                <div class="form-group" style="height: 148px">
                    <div class="left"><label>身份证反面：</label></div>
                    <div id="image-preview-negative" class="right add-picture">
                        <input type="file" name="negative_id" id="negative_id" />
                    </div>
                </div>



                <div class="form-group" style="height: 147px;border-bottom:none">
                    <div class="left"><label>手持身份证：</label></div>
                    <div id="image-preview-handheld" class="right add-picture">
                        <input type="file" name="handheld_id" id="handheld_id" />
                    </div>
                </div>

                <div class="form-group" style="border-bottom:none">
                    <div class="left" style="height:1px"></div>
                    <div class="right">
                        <button class="btn" style="background-color: #ff5656;width: 180px;margin-top: -9px;height: 40px;color: white;font-size:14px;font-family:ms-yahei-bold">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="custom-js"}
<script type="text/javascript" src="/assets/js/uploadpreview.min.js"></script>
<script>
    var video = document.getElementById('video');

        // Get access to the camera!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                video.src = window.URL.createObjectURL(stream);
                video.play();
            });
        }
    $(document).ready(function () {
        $.uploadPreview({
            input_field: "#positive_id",
            preview_box: "#image-preview-positive",
            label_selected: "Change File"
        });

        $.uploadPreview({
            input_field: "#negative_id",
            preview_box: "#image-preview-negative",
            label_selected: "Change File"
        });

        $.uploadPreview({
            input_field: "#handheld_id",
            preview_box: "#image-preview-handheld",
            label_selected: "Change File"
        });
    });

    // function validation()
    // {
    //     $('.error').hide();
    //     var name = $("input#name").val();
    //     console.log(name);
    //     if (name == "") {
    //         $("label#name_error").show();
    //         $("input#name").focus();
    //         return false;
    //     }
    //     var iden_number = $("input#iden_number").val();
    //     if (iden_number == "") {
    //         $("label#iden_number_error").show();
    //         $("input#iden_number").focus();
    //         return false;
    //     }
    // }
    //
    // $("#verifyForm").submit(function (e) {
    //     // e.preventDefault();
    //     validation();
    //     var formData = $(this).serialize();
    //     $.post("/index/data_management.verify/save",formData);
    //
    // })
</script>
{/block}