{extend name="/common/templates/tpl-w-sb"} {block name="page-title"}实名认证{/block} {block name="custom-css"}
<link rel="stylesheet" href="/assets/css/index/index/real-name-veri.css"> {/block} {block name="main-part"}
<div>
    <div class="qk-portlet" style="margin-top:1px;width: 940px;margin-left:-2px">
        <div class="qk-portlet-title">
            <img class="qk-portlet-title-icon" src="/assets/img/personal.png" />
            <span class="qk-portlet-title-text">实名认证</span>
        </div>
        <div class="qk-portlet-content form">
            <form action="/index/data_management/verify" id="verifyForm" enctype="multipart/form-data" method="POST">
                <div>
                    <div style="float:left;width:675px">
                        <div class="form-group" style="width:652px">
                            <div class="left">
                                <label>姓名：</label>
                            </div>
                            <div class="right">
                                <input type="text" class="form-control" name="name" id="name" />
                            </div>
                            <span style="color:red;margin-left: 20px;display: none;" id="name_error"></span>
                            <span class="error">This field is required</span>
                        </div>
                        <div class="form-group" style="width:652px">
                            <div class="left">
                                <label>身份证号码：</label>
                            </div>
                            <div class="right">
                                <input type="number" class="form-control" name="iden_number" id="iden_number" />
                            </div>
                            <span style="color:red;margin-left: 20px;" id="iden_error">只插入号码。</span>
                        </div>
                        <div class="form-group" style="height: 148px;width:652px">
                            <div class="left">
                                <label>身份证正面：</label>
                            </div>
                            <div id="image-preview-positive" class="right add-picture">
                                <input type="file" name="positive_id" id="positive_id" accept=".jpg,.png,.bmp"/>
                            </div>
                            <span style="color:red;margin-left: 35px;display: none" id="positive_image_error"></span>
                            <div style="color:red;margin-right: 15px;float: right;display: none" id="avarta_image_error"></div>
                        </div>
                    </div>
                    <div class="add-avatar" id="avarta-image" style="cursor: pointer">
                        <!--<p style="padding-left: 60px;padding-top: 100px;">添加会员头像</p>-->
                        <!--<p style="padding-left: 60px">(摄像头拍摄)</p>-->
                    </div>
                </div>
                <div class="form-group" style="height: 148px">
                    <div class="left">
                        <label>身份证反面：</label>
                    </div>
                    <div id="image-preview-negative" class="right add-picture">
                        <input type="file" name="negative_id" id="negative_id" />
                    </div>
                    <span style="color:red;margin-left: 35px;display: none" id="negative_image_error"></span>
                </div>

                <div class="form-group" style="height: 147px;border-bottom:none">
                    <div class="left">
                        <label>手持身份证：</label>
                    </div>
                    <div id="image-preview-handheld" class="right add-picture">
                        <input type="file" name="handheld_id" id="handheld_id" />
                    </div>
                    <span style="color:red;margin-left: 35px;display: none" id="handheld_image_error"></span>
                </div>

                <div class="form-group" style="border-bottom:none">
                    <div class="left" style="height:1px"></div>
                    <div class="right">
                        <button class="btn" style="background-color: #ff5656;width: 180px;margin-top: -9px;height: 40px;color: white;font-size:14px;font-family:ms-yahei-bold" id="confirm">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block} {block name="custom-js"}
<script type="text/javascript" src="/assets/js/uploadpreview.min.js"></script>
<script>
    $(document).ready(function ()
    {

        var video, $output;
        var scale = 0.25;
        var is_captured = false;
        
        $("#iden_number").keypress(function (event) {
            if (event.which < 48 && event.which > 57) event.preventDefault();
        });

        $("#name").keypress(function (event) {
            if (event.which >= 48 && event.which <= 57) event.preventDefault();
        });

        var initialize = function () {
            $output = $("#output");
            displayVideo();
            $(".add-avatar").click(function () {
                if (is_captured)
                {
                    is_captured = false;
                    displayVideo();
                }
                else{
                    is_captured = true;
                    captureImage();
                }
            });
        };
        
        var displayVideo = function() {
            var html = '<video id="video" style="width: 220px;height: 240px;border: 1px solid #ff5656;" autoplay></video>';
            $(".add-avatar").html(html);
            video = $("#video").get(0);
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                // Not adding `{ audio: true }` since we only want video now
                navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                });
            }
        }
        var captureImage = function () {
            var canvas = document.createElement("canvas");
            canvas.width = 220;
            canvas.height = 240;
            canvas.getContext('2d')
                .drawImage(video, 0, 0, canvas.width, canvas.height);
            var html = '<img id="captured-image" />';
            html += '<input type="hidden" id="avatar_image" name="avatar_image">';
            $(".add-avatar").html(html)
            $("#captured-image").attr('src', canvas.toDataURL());
            $("#avatar_image").val(canvas.toDataURL());
        };

        $(initialize);           

        $.uploadPreview({
            input_field: "#positive_id",
            preview_box: "#image-preview-positive",
            label_selected: "Change File"
        });

        $.uploadPreview({
            input_field: "#negative_id",
            preview_box: "#image-preview-negative",
            label_selected: "Change File"
        });

        $.uploadPreview({
            input_field: "#handheld_id",
            preview_box: "#image-preview-handheld",
            label_selected: "Change File"
        });
    });
    $("#verifyForm").submit(function ()
    {
        // console.log("test");
        var name = $("#name").val();
        if(name=="")
        {
            $("#name_error").text('这是必填栏。').show();
            $("#name").focus();
            return false;
        }



        var iden_number = $("#iden_number").val();
        if(iden_number=="")
        {
            $("#iden_error").text('这是必填栏。').show();
            $("#iden_number").focus();
            return false;
        }


        var positive = $("#positive_id").val();
        if ( ! positive) {
            $("#positive_image_error").text('请上传身份证正面.').show();
            event.preventDefault();
            return;
        }

        var negative = $("#negative_id").val();
        if ( ! negative) {
            $("#negative_image_error").text('请上传身份证反面.').show();
            event.preventDefault();
            return;
        }

        var handheld = $("#handheld_id").val();
        if ( ! handheld) {
            $("#handheld_image_error").text('请上传手持身份证.').show();
            event.preventDefault();
            return;
        }

        var avarta_image = $("#avatar_image").val();
        if ( ! avarta_image) {
            $("#avarta_image_error").text('请拍下我自己的照片.').show();
            event.preventDefault();
            return;
        }

        if(!/(\.bmp|\.gif|\.jpg|\.jpeg|\.png)$/i.test(file)) {
            $("#image_error").text('请选择正确的图像.').show();
            event.preventDefault();
        }
    })

</script>
{/block}