{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}
发布需求
{/block}
{block name="custom-css"}
<link rel="stylesheet" href="/assets/css/index/serviceManage/demand_detail_one.css">
{/block} {block name="main-part"}
<div>
    <div class="qk-portlet">
        <div class="qk-portlet-title">
            <img class="qk-portlet-title-icon mr6" src="/assets/img/shape40.png"/>
            <span class="qk-portlet-title-text">我的消息</span>
        </div>
        <div class="qk-portlet-content pl19 pr19">

                <p class="topic">项目标题项目标题项目标题</p>

                <div class="description" style="padding-top: 0px;">
                    <div class="left" style="width:399px;margin-left: 64px;">发布人：某某某</div>
                    <div class="left">发布时间：2018-02-23 12:56:28</div>
                    <div class="clearfix"></div>
                </div>
                <div class="description-container">
                    <div class="first-content-container">
                        <span class="first-contents">需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述</span>
                    </div>
                </div>
            </div>
    </div>
</div>
{/block}