{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}项目详细页(发布中){/block}
{block name="main-part"}
<div>
    <div class="qk-portlet" style="margin-top:1px;width: 936px;margin-left:3px">
        <div class="qk-portlet-title">
            <img class="qk-portlet-title-icon" src="/assets/img/undertake.png" />
            <span class="qk-portlet-title-text">承接的服务</span>
        </div>
    </div>
    <div style="border: 1px solid #eeeeee">
        <div class="qk-portlet-content" style="width: 100%;">
            <form role="form">
                <div class="form-group">
                    <div class="left">
                        <label>需求类型：</label>
                    </div>
                    <div class="right" style="margin-right: 33px">
                        <select class="form-control" >
                            <option>请选择省市</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>服务时间：</label>
                    </div>
                    <div class="right" style=" width:96px; margin-right: 8px;">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>至：</label>
                    </div>
                    <div class="right" style=" width:96px; margin-right: 30px;">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>状态：</label>
                    </div>
                    <div class="right" style="margin-right: 33px">
                        <select class="form-control" style="padding-left: 31px;">
                            <option>已承接</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="right" style="margin-right: 33px">
                        <button class="btn inquire">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="clear: both"></div>
        <div class="qk-portlet-content-1">
            <table>
                <thead>
                <tr>
                    <th style="width:1%">序号</th>
                    <th style="width:3%">需求类型</th>
                    <th style="width:9%">需求名称</th>
                    <th style="width:3%">发布人</th>
                    <th style="width:2%">时间币</th>
                    <th style="width:5%">发布时间</th>
                    <th style="width:3%">状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>6</td>
                    <td>家庭维修</td>
                    <td><a href="/index/index/projectaccepted">需求的名称名称名称</a></td>
                    <td>王某某</td>
                    <td>10</td>
                    <td>2018-04-11</td>
                    <td>未完成</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>家庭维修</td>
                    <td><a href="/index/index/projectaccepted">需求的名称名称名称</a></td>
                    <td>王某某</td>
                    <td>10</td>
                    <td>2018-04-11</td>
                    <td>未完成</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>家庭维修</td>
                    <td><a href="/index/index/projectaccepted">需求的名称名称名称</a></td>
                    <td>王某某</td>
                    <td>10</td>
                    <td>2018-04-11</td>
                    <td>未完成</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>家庭维修</td>
                    <td><a href="/index/index/projectaccepted">需求的名称名称名称</a></td>
                    <td>王某某</td>
                    <td>10</td>
                    <td>2018-04-11</td>
                    <td>未完成</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>家庭维修</td>
                    <td><a href="/index/index/projectaccepted">需求的名称名称名称</a></td>
                    <td>王某某</td>
                    <td>10</td>
                    <td>2018-04-11</td>
                    <td>未完成</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>家庭维修</td>
                    <td><a href="/index/index/projectaccepted">需求的名称名称名称</a></td>
                    <td>王某某</td>
                    <td>10</td>
                    <td>2018-04-11</td>
                    <td>未完成</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>家庭维修</td>
                    <td><a href="/index/index/projectaccepted">需求的名称名称名称</a></td>
                    <td>王某某</td>
                    <td>10</td>
                    <td>2018-04-11</td>
                    <td>未完成</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>家庭维修</td>
                    <td><a href="/index/index/projectaccepted">需求的名称名称名称</a></td>
                    <td>王某某</td>
                    <td>10</td>
                    <td>2018-04-11</td>
                    <td>未完成</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>家庭维修</td>
                    <td><a href="/index/index/projectaccepted">需求的名称名称名称</a></td>
                    <td>王某某</td>
                    <td>10</td>
                    <td>2018-04-11</td>
                    <td>未完成</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>家庭维修</td>
                    <td><a href="/index/index/projectaccepted">需求的名称名称名称</a></td>
                    <td>王某某</td>
                    <td>10</td>
                    <td>2018-04-11</td>
                    <td>未完成</td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>

</div>
{/block}
{block name="custom-css"}
<link href="/assets/css/index/servicemanage/show_undertaken.css" rel="stylesheet" type="text/css" />
{/block}
{block name="custom-js"}

{/block}