{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}项目详细页(发布中){/block}
{block name="main-part"}
<div>
    <div class="qk-portlet" style="margin-top:1px;width: 940px;margin-left:-2px">
        <div class="qk-portlet-title" style="padding-left:26px;">
            <img class="qk-portlet-title-icon" src="/assets/img/paper-plane.png" />
            <span class="qk-portlet-title-text">发布的需求</span>
        </div>

        <div class="qk-portlet-content" style="width: 100%;padding-top: 25px;padding-left:25px;">
            <form role="form" style="padding-left:29px">
                <div class="form-group">
                    <div class="left">
                        <label style="font-family:ms-yahei-bold">需求类型：</label>
                    </div>
                    <div class="right" style="margin-right: 33px;width:100px">
                        <select class="form-control">
                            <option>请选择省市</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label style="font-family:ms-yahei-bold">服务时间：</label>
                    </div>
                    <div class="right" style=" width:96px; margin-right: 8px;">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label style="font-family:ms-yahei-bold">至：</label>
                    </div>
                    <div class="right" style=" width:96px; margin-right: 30px;">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label style="font-family:ms-yahei-bold">状态：</label>
                    </div>
                    <div class="right" style="margin-right: 33px">
                        <select class="form-control" style="padding-left: 31px;">
                            <option>已承接</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="right" style="margin-right: 33px">
                        <button class="btn inquire" style="font-family:ms-yahei-bold">查询</button>
                    </div>
                </div>
            </form>
            <div style="clear: both"></div>
            <div class="qk-portlet-content-1" style="margin-top:47px">
                <table>
                    <thead>
                        <tr>
                            <th style="white-space:nowrap;width:5%">序号</th>
                            <th style="white-space:nowrap;width:8%">需求类型</th>
                            <th style="white-space:nowrap;width:20%">需求名称</th>
                            <th style="white-space:nowrap;width:5%">时间币</th>
                            <th style="white-space:nowrap;width:10%">发布时间</th>
                            <th style="white-space:nowrap;width:7%">状态</th>
                            <th style="white-space:nowrap;width:6%">承接人</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6</td>
                            <td>家庭维修</td>
                            <td>
                                <a href="/index/index/projectpublishing">需求的名称名称名称</a>
                            </td>
                            <td>10</td>
                            <td>2018-04-11</td>
                            <td>未完成</td>
                            <td>王某某</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>家庭维修</td>
                            <td>
                                <a href="/index/index/projectpublishing">需求的名称名称名称</a>
                            </td>
                            <td>10</td>
                            <td>2018-04-11</td>
                            <td>未完成</td>
                            <td>王某某</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>家庭维修</td>
                            <td>
                                <a href="/index/index/projectpublishing">需求的名称名称名称</a>
                            </td>
                            <td>10</td>
                            <td>2018-04-11</td>
                            <td>未完成</td>
                            <td>
                                <a href="#receiver" data-toggle="modal" data-keyboard="false" style="color: #ff5656">承接人(3)</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>家庭维修</td>
                            <td>
                                <a href="/index/index/projectpublishing">需求的名称名称名称</a>
                            </td>
                            <td>10</td>
                            <td>2018-04-11</td>
                            <td>未完成</td>
                            <td>承接人</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>家庭维修</td>
                            <td>
                                <a href="/index/index/projectpublishing">需求的名称名称名称</a>
                            </td>
                            <td>10</td>
                            <td>2018-04-11</td>
                            <td>未完成</td>
                            <td>
                                <a href="#receiver" data-toggle="modal" data-keyboard="false" style="color: #ff5656">承接人(0)</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="receiver" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="changePhoneNumberLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog container" style="width:600px;margin-top:200px;max-width:none;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #fde4e4;">
                <h4 class="modal-title">承接人列表</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body" style="padding-top:25px;padding-bottom:30px">
                <table>
                    <thead>
                        <tr>
                            <th width="30px"></th>
                            <th width="36px">序号</th>
                            <th width="157px">姓名</th>
                            <th width="95px">手机号码</th>
                            <th width="153px">好评度</th>
                            <th width="66px">查看详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="checkbox checkbox-primary" style="padding-left:0px;">
                                    <input id="checkbox1" type="checkbox" >
                                    <label for="checkbox1">
                                    </label>
                                </div>
                            </td>
                            <td>1</td>
                            <td>张某某</td>
                            <td>15823654253</td>
                            <td>80%</td>
                            <td>详情</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox checkbox-primary" style="padding-left:0px;">
                                    <input id="checkbox2" type="checkbox" >
                                    <label for="checkbox2" style="font-size:12px;padding-left: 9px;padding-top: 1px;">
                                    </label>
                                </div>
                            </td>
                            <td>2</td>
                            <td>张某某</td>
                            <td>13659545236</td>
                            <td>90%</td>
                            <td>详情</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox checkbox-primary" style="padding-left:0px;">
                                    <input id="checkbox3" type="checkbox" >
                                    <label for="checkbox3" style="font-size:12px;padding-left: 9px;padding-top: 1px;">
                                    </label>
                                </div>
                            </td>
                            <td>3</td>
                            <td>张某某</td>
                            <td>15632645236</td>
                            <td>70%</td>
                            <td>详情</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox checkbox-primary" style="padding-left:0px;">
                                    <input id="checkbox4" type="checkbox" >
                                    <label for="checkbox4" style="font-size:12px;padding-left: 9px;padding-top: 1px;">
                                    </label>
                                </div>
                            </td>
                            <td>4</td>
                            <td>张某某</td>
                            <td>13623654123</td>
                            <td>80%</td>
                            <td>详情</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn" style="width:200px;height:40px;background-color:#ff5656;font-size:18px;color:white;margin-top:15px;margin-left:183px;">确认选择</button>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="custom-css"}
<link href="/assets/css/index/servicemanage/service_undertaken.css" rel="stylesheet" type="text/css" />
{/block}
{block name="custom-js"}
{/block}