{extend name="/common/templates/tpl-w-sb"} {block name="page-title"}承接的服务{/block} {block name="custom-css"}
<link rel="stylesheet" href="/assets/css/index/serviceManage/undertaker_details.css"> {/block} {block name="main-part"}
<div style="width:939px;padding-top:18px">
    <div style="text-align:center">
        <p style="font-family:ms-yahei-bold;font-size:18px;color:#ff5656;margin-top:15px;margin-bottom:14px">项目标题项目标题项目标题</p>
        <span class="label label-danger" style="font-family:ms-yahei-bold;font-size:16px;background-color:#ff5656;padding: 4px 21px;border-radius:4px">已发布</span>
        <div style="padding-top: 24px;padding-left: 138px;padding-bottom:23px;font-size: 12px;width: 897px;text-align:left">
            <div style="float:left;width:164px;">发布人：某某某</div>
            <div style="float:left;width:189px">需求类型：环境清洁</div>
            <div style="float:left;width:177px">支付时间币：18.0</div>
            <div style="float:left">发布时间：20118-02-23</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div style="background-color:#fff7f7;border-top: 4px solid #eb3d3d;border-bottom: 4px solid #eb3d3d;width: 938px;padding-top: 21px;padding-left: 19px;margin-bottom:9px">
        <div style="border:1px dotted #ff5656;width:899px;height:127px;background-color:white;text-align:left;padding-top: 14px;padding-left: 20px;padding-right:14px;margin-bottom:20px">
            <span style="padding-top: 13px;font-family: ms-yahei-bold;font-size: 14px;line-height: 24px;">需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述需求描述</span>
        </div>
        <div style="border-top:1px dotted #ff5656;width:899px;padding-top:17px">
            <div style="width:50%;float:left;border-right:1px dotted #ff5656">
                <img src="/assets/img/time-light-red.png" style="margin-right:5px"/>
                <span style="color:#ff5656;font-size:14px">服务时间</span>
                <div style="margin-left:29px;margin-top:6px;margin-left: 29px;margin-top: 6px;margin-bottom: 14px;">2018年03月18-19日，预计一小时，时间可以自定</div>
                <img src="/assets/img/lianxiren-light-red.png" style="margin-right:5px"/>
                <span style="color:#ff5656;font-size:14px">联系人</span>
                <div style="margin-left:29px;margin-top:6px;margin-left: 29px;margin-top: 6px;margin-bottom: 14px;">某某某</div>
                <img src="/assets/img/calendar-light-red.png" style="margin-right:5px"/>
                <span style="color:#ff5656;font-size:14px">有效期至</span>
                <div style="margin-left:29px;margin-top:6px;margin-left: 29px;margin-top: 6px;margin-bottom: 14px;">2018-03-19</div>
            </div>
            <div style="width:50%;float:left;padding-left:20px">
                <img src="/assets/img/location-light-red.png" style="margin-right:5px"/>
                <span style="color:#ff5656;font-size:14px">服务地点</span>
                <div style="margin-left:29px;margin-top:6px;margin-left: 29px;margin-top: 6px;margin-bottom: 14px;">广州市南沙区横沥******</div>
                <img src="/assets/img/phone-call-light-red.png" style="margin-right:5px"/>
                <span style="color:#ff5656;font-size:14px">联系电话</span>
                <div style="margin-left:29px;margin-top:6px;margin-left: 29px;margin-top: 6px;margin-bottom: 14px;">15365236523</div>
                <img src="/assets/img/doc-light-red.png" style="margin-right:5px"/>
                <span style="color:#ff5656;font-size:14px">承接要求</span>
                <div style="margin-left:29px;margin-top:6px;margin-left: 29px;margin-top: 6px;margin-bottom: 14px;">公共环境清洁及相关服务。1级以上会员可承接，无专业技术要求</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div style="border:1px solid #e4e4e4;width:938px;padding:20px 18px;margin-bottom:35px;">
        <div style="height:220px;margin-bottom:26px">
            <img src="/assets/img/zhiyuanzhe.png" style="float:left"/>
            <div style="float:left;padding-left:20px;padding-top:30px">
                <div style="margin-bottom:47px">
                    <img src="/assets/img/undertake-light-red.png" align="middle" style="margin-right:7px"/>
                    <span style="word-spacing:4px;color:#ff5656;margin-right:21px">承 接 人：</span>
                    <span>某某某</span>
                </div>
                <div style="margin-bottom:46px">
                    <img src="/assets/img/phone.png" align="middle" style="margin-right:14px"/>
                    <span style="color:#ff5656;margin-right:21px">手机号码：</span>
                    <span>15263564523</span>
                </div>
                <div>
                    <img src="/assets/img/good-review-light-red.png" align="middle" style="margin-right:10px"/>
                    <span style="color:#ff5656;word-spacing:4px;margin-right:19px">好 评 度：</span>
                    <span>80%</span>
                </div>
                
            </div>
        </div>
        <div class="qk-portlet" style="margin-bottom:10px">
            <div class="qk-portlet-title" style="padding-left:23px">
                <img class="qk-portlet-title-icon" src="/assets/img/star-light-red.png" />
                <span class="qk-portlet-title-text">专业等级证书</span>
            </div>
            <div class="qk-portlet-content">
                <table>
                    <thead>
                        <tr>
                            <th width="155px">证书编号</th>
                            <th width="429px">证书名称</th>
                            <th width="149px">专业等级</th>
                            <th width="165px">审核状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ZS00001</td>
                            <td>证书名称1</td>
                            <td>中级</td>
                            <td>已审核</td>
                        </tr>
                
                        <tr>
                            <td>ZS00002</td>
                            <td>证书名称2</td>
                            <td>中级</td>
                            <td>未审核</td>
                        </tr>
                
                        <tr>
                            <td>ZS00003</td>
                            <td>证书名称3</td>
                            <td>高级</td>
                            <td>未审核</td>
                        </tr>
                
                        <tr>
                            <td>ZS00004</td>
                            <td>证书名称4</td>
                            <td>中级</td>
                            <td>已审核</td>
                        </tr>
                
                        <tr>
                            <td>ZS00005</td>
                            <td>证书名称5</td>
                            <td>高级</td>
                            <td>已审核</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="text-align: center;margin-bottom:101px">
        <button class="btn" style="background-color:#ff5656;color:white;height:40px;width:140px;font-family:ms-yahei-bold;font-size:14px;margin-right:95px;">确认</button>
        <button class="btn" style="background-color:#ffc750;color:white;height:40px;width:140px;font-family:ms-yahei-bold;font-size:14px;">返回</button>
    </div>
</div>
{/block}