{extend name="/common/templates/tpl-wo-sb"}

{block name="page-title"}购买界面{/block}
{block name="main"}
<div>
    <div class="qk-portlet-title" style="margin-top: 9px;">
        <span class="qk-portlet-title-text">收货人信息</span>
        <a href="#" id="new_shipping_address" data-toggle="modal" data-keyboard="false"  onclick="show_modal(2,0)">新增收货地址</a>
    </div>
    <div class="qk-portlet-content"></div>

    <div class="qk-portlet-title" style="margin-top: 5px;">
        <span class="qk-portlet-title-text">支付方式</span>
    </div>
    
    <div class="qk-portlet-content">
        <div class="rows" style="border-bottom: none;">
            <div class="payment_types">
                <input id="wechat" class="radio-inline__input" type="radio" name="accessible-radio" value="item-1" onclick="set_paymentMethod()">
                <label class="radio-inline__label" for="wechat">
                    <img src="/assets/img/shijianfei.png" style="padding-right: 17px;"/>时间币支付
                </label>
                <img class="tick-img" src="/assets/img/corner-tick.png">
            </div>
            <div style="margin-top:14px; color:green;font-size: 16px" id="coin_amount"></div>
        </div>
        <div class="rows" id="cant_purchase" style="display: none;">
            <a href="/index/time_money/buy" style="color:red">温馨提示：您的时间币余额不足，需充值后才能提交并结算订单！</a>
        </div>
    </div>

    <div class="qk-portlet-title" style="margin-top: 29px;">
        <span class="qk-portlet-title-text">订单清单</span>
    </div>
    <div class="qk-portlet-content">
        <div class="table-heads" style="border-bottom: 1px dotted #ff5656; font-size: 15px;">
            <div class="left br-red-grey font-b" style="width:7%;text-align:center">序号</div>
            <div class="left br-red-grey font-b" style="width:70%;text-align:center">商品名称</div>
            <div class="left br-red-grey font-b" style="width:15%;text-align:center">单价</div>
            <div class="left br-red-grey font-b" style="width:8%;text-align:center">数量</div>
        </div>
        <div class="clearfix"></div>
        <?php $sum = 0;
        for($i = 0 ; $i < sizeof($products); $i++){ ?>
        <div class="rows" style="font-size: 15px;margin-left:0px;margin-right:0px">
            <div class="left" style="width:7%;text-align:center">{$i+1}</div>
            <div class="left" style="width:70%;text-align:center">{$products[$i]->description}</div>
            <div class="left" style="width:15%;text-align:center;color:#ff5656">{$products[$i]->price}</div>
            <div class="left" style="width:8%;text-align:center">{$products[$i]->amount}</div>
        </div>
        <?php 
            $sum += $products[$i]->price * $products[$i]->amount;
        }?>
    </div>
    <form action="/order_now" method="post">
    <input type="hidden" name="ids" value={$product_ids}/>
    <div style="margin-top: 56px;font-family: ms-yahei-bold;margin-bottom: 8px;">订单备注：</div>
    <textarea class="form-control"  placeholder="请输入你需要备注的内容..." name="comment" id="comment" style="height: 100px; width: 100%;"></textarea>
    <div class="product-row">
        <p class="right">
            <span>应付金额：</span>
            <span id="total_cost">{$sum}</span>
        </p>
        <div class="clearfix"></div>
        <div class="p-row">
            <input type="hidden" name="address" id="address"/>
            <div class="product-third" id="final_user_phone"></div>
            <div class="product-second" id="final_user_address"></div>
            <div class="product-first" id="final_user_name"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="rows" style=" margin: 0px; padding: 0px;  padding-bottom: 0px;">
        <button id="order" type="submit" disabled class="btn  button-submit-order" >提交订单</button>
    </div>
    </form>
</div>

<div id="add_modal" class="modal container" tabindex="-1" data-width="452" aria-hidden="false" style="display:none;  width: 452px;height: auto;">
    <input type="hidden" id="modal_type" />
    <input type="hidden" id="id" />
    <div class="modal-header">
        <button type="button" class="btn close" data-dismiss="modal" aria-hidden="true"></button>
    </div>
    <div class="container login-title" style="border-top: 1px solid #ff5656;width: 330px;margin-top: 17px;margin-bottom:36px;">
        <p class="modal_title" id="modal_title" style="font-family: ms-yahei-bold;color: #ff5656;font-size: 18px;margin-top: -15px;background-color: white;width: 111px;margin-left: 109px;padding-left: 20px;padding-right: 0px;">新增地址</p>
    </div>

    <div class="u-msg-wrap" style="margin-top: -13px;margin-left: 35px; margin-right: 34px;">
        <div class="msg msg-warn" style="display:none;">
            <i></i>
            <span>公共场所不建议自动登录，以防帐号丢失</span>
        </div>
        <div class="msg msg-err" style="display:none;">
            <i></i>
            <span class="J-errorMsg"></span>
        </div>
    </div>
    <div class="form">
        <form role="form" style="margin-left:35px">
            <div class="form-group" style="height:36px">
                <div class="left">
                    <label>所在地区：</label>
                </div>
                <div class="right">
                    <select class="form-control" style="height:35px;margin-right:11px;float:left;width:135px;" id="region" name="region">
                        <option value="" selected disabled hidden>请选择省市</option>
                        {foreach $region_level_1 as $key=>$val }
                        <option value="{$key}">{$val}</option>
                        {/foreach}
                    </select>
                    <select class="form-control" style="height:35px;float:left;width:135px;" id="district" name="district">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="left">
                    <label>详细地址：</label>
                </div>
                <div class="right">
                    <textarea class="form-control" style="width: 280px;margin-bottom:20px;" id="address1" name="address"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group" style="height:35px">
                <div class="left">
                    <label>联系人：</label>
                </div>
                <div class="right">
                    <input type="text" class="form-control" id="contacts" name="contacts" style="width: 280px"/>
                </div>
            </div>
            <div class="form-group" style="height: 38px">
                <div class="left">
                    <label>联系电话：</label>
                </div>
                <div class="right">
                    <input class="form-control" name="contact_number" id="contact_number" style="width: 280px"/>
                </div>
            </div>

            <div class="form-group">
                <div class="left" style="height:1px">
                </div>
                <div class="right">
                    <button type="button" class="btn" id="confirm" onclick="javascript:onConfirm();" style="background-color: #ff5656;color: white;height: 40px;width: 200px;padding-left: 11px;padding-top: 7px;font-size: 18px;margin-bottom:20px;">确认新增</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</div>
{/block}
{block name="custom-css"}
<link href="/assets/css/index/index/purchase_interface.css" rel="stylesheet" type="text/css" />
<link href="/assets/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="/assets/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
{/block}
{block name="custom-js"}
<script src="/assets/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="/assets/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        showAddressList();
        $("#region").change(function () {
            var region1 = $("#region").val();
            var container = $('#district');
            $.ajax({
                url: '/index/data_management.address_manage/getregion2byregion1/region1/' + region1,
                success: function (result) {
                    var jsonData = JSON.parse(result);
                    var response = jsonData.data;
                    var dataHtml = '';
                    // dataHtml+='<option value="" selected disabled hidden>全部</option>';
                    // <option selected="" value="全部" >全部</option>
                    $.each(response, function (index, item) {
                        dataHtml += '<option value="' + index + '">' + item + '</option>';
                    });
                    container.html(dataHtml);
                    // console.log(current_id);
                    if (current_id != 0) {
                        $("#district").val($('#region_id_2_' + current_id).text());
                    }
                }
            })
        });5

    });

    function select_to_user(id)
    {
        console.log(id);
        $("#final_user_phone").html($("#address_phone_"+id).html());
        $("#final_user_address").html($("#address_detail_" + id).html());
        $("#final_user_name").html($("#address_name_" + id).html());
        $("#address").val(id);
        refresh_button();
    }

    function show_modal(type, id) {
        modal_type = type;
        current_id = id;
        if (type == 1) {
            modalPropertyHide();
            $('#modal_title').html('修改地址');
            $('#confirm').html('确认修改');
            $("#region").val($('#region_id_1_' + id).text());
            $("#region").change();
            $("#district").val($('#region_id_2_' + id).text());
            $("#address1").val($('#onlyDetail_' + id).text());
            $("#contacts").val($('#name_' + id).text());
            $("#contact_number").val($('#phone_' + id).text());
        } else {
            $('#modal_title').html('新增地址');
            $('#confirm').html('确认新的');
            modalPropertyHide();
        }
        $('#add_modal').modal();
    }

    function modalPropertyHide() {
        $("#region").val('');
        $("#district").val('');
        $("#address1").val('');
        $("#contacts").val('');
        $("#contact_number").val('');
        $('.msg-err').hide();
    }

    function set_paymentMethod()
    {
        $.ajax({
            url: "/get_balance",
            method: 'get',
            success: function (res) {
                $("#coin_amount").html('(可用余额:'+res+')');
                var balance = parseFloat(res);
                var total = parseInt($("#total_cost").html());
                if (balance < total) {
                    $("#cant_purchase").show();
                    refresh_button();
                }
                else{
                    $("#cant_purchase").hide();
                    refresh_button();
                }
            }
        })
    }

    function refresh_button ()
    {
        if ($("#cant_purchase").is(":visible") == false && $("#address").val() != "")
        {
            $("#order").attr("disabled", false);
        }
        else{
            $("#order").attr("disabled", true);
        }
    }

    function showErrorMsg(msg) {
        $('.msg-err').show();
        $('.J-errorMsg').html(msg);
    }

    function onConfirm() {
        var region1 = $.trim($("#region").val());
        var region2 = $.trim($("#district").val());
        var address = $.trim($("#address1").val());
        var contacts = $.trim($("#contacts").val());
        var contact_number = $.trim($("#contact_number").val());

        if (region1 == '') {
            showErrorMsg('请选择省市!');
            return false;
        }

        if (region2 == '') {
            showErrorMsg('请选择地区!');
            return false;
        }

        if (address == '') {
            showErrorMsg('请输入地址!');
            return false;
        }

        if (contacts == '') {
            showErrorMsg('请输入联系人!');
            return false;
        }

        if (contact_number == '') {
            showErrorMsg('请输入联系电话!');
            return false;
        }

        var dataString = 'region1=' + region1 + '&region2=' + region2 + '&address=' + address + '&contacts=' + contacts + '&contact_number=' + contact_number;
        // console.log(dataString);

        if (modal_type == 1) {
            $.ajax({
                url: '/index/data_management/address_manage/' + current_id,
                type: 'PUT',
                data: dataString,
                success: function (result) {
                    modalPropertyHide();
                    $('#add_modal').modal('hide');
                }
            })
        }
        else {
            $.ajax({
                url: '/index/data_management.address_manage/save',
                type: 'POST',
                data: dataString,
                success: function (result) {
                    modalPropertyHide();
                    $('#add_modal').modal('hide');
                    showAddressList();
                }
            })
        }
    }

    function showAddressList() {
        var container = $('div.qk-portlet-content').eq(0);
        var dataHtml = '';
        container.html("");
        $.ajax({
            url: '/index/data_management/address_manage/0',
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                json = JSON.parse(result);
                var response = json.data;
                $.each(response, function (index, item) {                    
                    dataHtml += '<div class="rows">' +
                                    '<div class="user-item">' +
                                        '<input type="radio" name="userlist" id="userlist_' + item.id + '" value = "' + item.user_id + '" onclick = "select_to_user(' + item.id + ')" >' +
                                        '<label for="userlist_' + item.id + '"></label>' +
                                    '</div>' +
                                    '<div class="left first-spacing" id="address_name_' + item.id + '">' + item.name + '</div>' +
                                    '<div class="left second-spacing" id="address_detail_' + item.id + '">' + item.detail + '</div>' +
                                    '<div class="left" id="address_phone_' + item.id + '">' + item.phone + '</div>' +
                                '</div>';
                });
                container.html(dataHtml);
            }
        });
    }
</script>
{/block}