{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}投诉与建议{/block}

{block name="main-part"}
<div id="complaint_suggestions">
    <div class="row">
        <div class="qk-portlet" style="margin-top:1px;width: 938px;margin-left:18px">
            <div class="qk-portlet-title" style="padding-left: 23px; padding-top: 11px;">
                <img class="qk-portlet-title-icon" src="/assets/img/shape-29.png">
                <span class="qk-portlet-title-text">投诉与建议</span>
            </div>
            <div class="qk-portlet-content">
                <form id="complaint_form">
                    <div class="form-group">
                        <div class="left">
                            <label>投诉类型：</label>
                        </div>
                        <div class="right">
                            <select class="form-control" style="height:36px; width: 195px;" id="type_complaint" name="type_complaint">
                              {foreach $complaint_type as $key => $val}
                                    <option value="{$val.id}">{$val.type}</option>
                              {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="padding-bottom: 45px;">
                        <div class="left">
                            <label>投诉标题：</label>
                        </div>
                        <div class="right">
                            <input type="text" class="form-control" id="complaint_title" name="complaint_title">
                        </div>
                        <label class="error" for="complaint_title" id="complaint_title_error">这是必填栏。</label>
                    </div>
                    <div class="form-group" style="padding-bottom: 15px;">
                        <div class="left">
                            <label>投诉内容：</label>
                        </div>
                        <div class="right">
                            <textarea class="form-control" rows="3" name="complaints" id="complaints" style="height: 100px; width: 600px;"></textarea>
                        </div>
                        <label class="error" for="complaints" id="complaints_error">这是必填栏。</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group" style="padding-bottom: 42px;">
                        <div class="left">
                            <label>联  系  人：</label>
                        </div>
                        <div class="right">
                            <input type="text" class="form-control" id="contact" name="contact">
                        </div>
                        <label class="error" for="contact" id="contact_error">这是必填栏。</label>
                    </div>
                    <div class="form-group" style="padding-bottom: 45px;">
                        <div class="left">
                            <label>联系电话：</label>
                        </div>
                        <div class="right">
                            <input type="text" class="form-control" id="contact_number" name="contact_number">
                        </div>
                        <label class="error" for="contact_number" id="contact_number_error">这是必填栏。</label>
                    </div>
                    <div class="form-group">
                        <div class="left">
                            <label>验  证  码：</label>
                        </div>
                        <div class="right">
                            <input type="text" class="form-control" style="width: 232px;margin-top: 2px;" id="captcha" name="captcha">
                        </div>
                        <div>
                            <img src="{:url('verify')}" id="verifyImage" onclick = "this.src=this.src+'?'" alt="captcha" style="border: 1px solid #d2d2d2; border-radius: 6px;height: 36px;margin-left: 10px;margin-top: -4px;"/>
                            <label class="error" for="captcha" id="captcha_error">这是必填栏。</label>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-6">
                                <button type="submit" class="btn submit" >提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="custom-css"}
<link href="/assets/css/index/index/complaint_suggestions.css" rel="stylesheet" type="text/css" />
{/block}
{block name="custom-js"}
<script>

$(document).ready(function () {

    $("#complaint_title").focus();
})


    $("#complaint_form").submit(function (e) {
        e.preventDefault();
        validation();
        var formData = $(this).serialize();

        $.ajax({
            url : '/index/index.complaints/save',
            type : 'POST',
            data : formData,
            success:function (result) {
                if(result == "success")
                {
                    $.alert({
                        title: '确认',
                        content: '您的投诉建议已成功提交给管理员!',
                    });
                    reset();
                    $("#complaint_title").focus();
                }
                else if (result == "fail")
                {
                    $("label#captcha_error").text("验证码错误").show();

                }

            }
        })
    });

    // function refreshVerify() {
    //     var ts = Date.parse(new Date())/1000;
    //     var img = document.getElementById('verify_img');
    //     img.src = "/captcha?id="+ts;
    // }
    function validation() {
        $('.error').hide();
        var complaint_title = $("input#complaint_title").val();
        if (complaint_title == "") {
            $("label#complaint_title_error").show();
            $("input#complaint_title").focus();
            return false;
        }
        var complaints = $("input#complaints").val();
        if (complaints == "") {
            $("label#complaints_error").show();
            $("input#complaints").focus();
            return false;
        }
        var contact = $("input#contact").val();
        if (contact == "") {
            $("label#contact_error").show();
            $("input#contact").focus();
            return false;
        }
        var contact_number = $("input#contact_number").val();
        if (contact_number == "") {
            $("label#contact_number_error").show();
            $("input#contact_number").focus();
            return false;
        }
        var captcha = $("input#captcha").val();
        if (captcha == "") {
            $("label#captcha_error").show();
            $("input#captcha").focus();
            return false;
        }
    }
    $("#complaint_title,#complaints,#contact,#contact_number,#captcha").keypress(function () {
        $("label#complaint_title_error").hide();
        $("label#complaints_error").hide();
        $("label#contact_error").hide();
        $("label#contact_number_error").hide();
        $("label#captcha_error").hide();

    })

    function reset()
    {
        var $inputs = $('#complaint_form :input');
        var values = {};
        $inputs.each(function() {
            values[this.name] = $(this).val('');
        });
        $("#type_complaint").val(1);
    }
</script>
{/block}

