{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}投诉与建议{/block}

{block name="main-part"}
<div id="complaint_suggestions">
    <div class="row">
        <div class="qk-portlet" style="margin-top:1px;width: 938px;margin-left:18px">
            <div class="qk-portlet-title" style="padding-left: 23px; padding-top: 11px;">
                <img class="qk-portlet-title-icon" src="/assets/img/shape-29.png">
                <span class="qk-portlet-title-text">投诉与建议</span>
            </div>
            <div class="qk-portlet-content">
                <form id="complaint_form">
                    <div class="form-group">
                        <div class="left">
                            <label>投诉类型：</label>
                        </div>
                        <div class="right">
                            <select class="form-control" style="height:36px; width: 195px;" id="type_complaint" name="type_complaint">
                              {foreach $complaint_type as $key => $val}
                                    <option value="{$val.id}">{$val.type}</option>
                              {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="padding-bottom: 45px;">
                        <div class="left">
                            <label>投诉标题：</label>
                        </div>
                        <div class="right">
                            <input type="text" class="form-control" id="complaint_title" name="complaint_title">
                        </div>
                    </div>
                    <div class="form-group" style="padding-bottom: 15px;">
                        <div class="left">
                            <label>投诉内容：</label>
                        </div>
                        <div class="right">
                            <textarea class="form-control" rows="3" name="complaints" id="complaints" style="height: 100px; width: 600px;"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group" style="padding-bottom: 42px;">
                        <div class="left">
                            <label>联  系  人：</label>
                        </div>
                        <div class="right">
                            <input type="text" class="form-control" id="contact" name="contact">
                        </div>
                    </div>
                    <div class="form-group" style="padding-bottom: 45px;">
                        <div class="left">
                            <label>联系电话：</label>
                        </div>
                        <div class="right">
                            <input type="text" class="form-control" id="contact_number" name="contact_number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="left">
                            <label>验  证  码：</label>
                        </div>
                        <div class="right">
                            <input type="text" class="form-control" style="width: 232px;margin-top: 2px;" id="captcha" name="captcha">
                        </div>
                        <div><img src="{:url('verify')}" id="verifyImage" onclick = "this.src=this.src+'?'" alt="captcha" style="border: 1px solid #d2d2d2; border-radius: 6px;height: 36px;margin-left: 10px;margin-top: -4px;"/></div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-6">
                                <button type="submit" class="btn submit" >提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="custom-css"}
<link href="/assets/css/index/index/complaint_suggestions.css" rel="stylesheet" type="text/css" />
{/block}
{block name="custom-js"}
<script>

$(document).ready(function () {

    $("#complaint_title").focus();
})


    $("#complaint_form").submit(function (e) {
    e.preventDefault();
    var formData = $(this).serialize();

    $.ajax({
        url : '/index/index.complaints/save',
        type : 'POST',
        data : formData,
        success:function (result) {
            if(result == "success")
            {
                alert("success");
                reset();
                $("#complaint_title").focus();
            }
            else if (result == "fail")
            {
                alert("captcha code wrong");
            }

        }
    })
});

function validation() {
    $('.error').hide();
    var complaint_title = $("input#complaint_title").val();
    if (complaint_title == "") {
        $("label#complaint_title_error").show();
        $("input#complaint_title").focus();
        return false;
    }
    var complaints = $("input#complaints").val();
    if (complaints == "") {
        $("label#complaints_error").show();
        $("input#complaints").focus();
        return false;
    }
    var contact = $("input#contact").val();
    if (contact == "") {
        $("label#contact_error").show();
        $("input#beforepass").focus();
        return false;
    }
    var newpass = $("input#newpass").val();
    if (newpass == "") {
        $("label#newpass_error").show();
        $("input#newpass").focus();
        return false;
    }
    var verifypass = $("input#verifypass").val();
    if (verifypass == "") {
        $("label#verifypass_error").show();
        $("input#verifypass").focus();
        return false;
    }
}

    function reset()
    {
        var $inputs = $('#complaint_form :input');
        var values = {};
        $inputs.each(function() {
            values[this.name] = $(this).val('');
        });
        $("#type_complaint").val(1);
    }
</script>
{/block}

