{extend name="common/templates/tpl-blank"}

{block name="page-title"}{/block}
{block name="custom-css"} {/block}
{block name="breadcrumb"}
<ul class="page-breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Blank Page</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Page Layouts</span>
    </li>
</ul>
{/block}
{block name="page-content-title"}
<h1 class="page-title"> Blank Page Layout
    <small>blank page layout</small>
</h1>
{/block}
{block name="page-content"} {/block}
{block name="custom-js"} {/block}