{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}个人信息{/block}
{block name="custom-css"}
<link rel="stylesheet" href="/assets/css/index/index/personal_info.css">
{/block}
{block name="main-part"}
<div style="height:896px">
    <div class="qk-portlet" style="margin-top:1px;width: 940px;margin-left:-2px">
        <div class="qk-portlet-title">
            <img class="qk-portlet-title-icon" src="/assets/img/personal.png" />
            <span class="qk-portlet-title-text">个人信息</span>
        </div>
        <div class="qk-portlet-content form" style="height: 791px">
            <form action="#" id="personal_form" class="form-horizontal">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                <div class="form-group">
                    <div class="left">
                        <label>用户名：</label>
                    </div>
                    <div class="right">
                        <input type="text" class="form-control" name="username" id="username"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>真实姓名：</label>
                    </div>
                    <div class="right">
                        <input type="text" class="form-control" name="realname" id="realname"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>性别:</label>
                    </div>
                    <div class="right">
                        <div class="radio radio-danger">
                            <input type="radio" name="gender" id="male" value="option1" checked>
                            <label for="male">
                                男
                            </label>
                        </div>
                        <div class="radio radio-danger">
                            <input type="radio" name="gender" id="female" value="option2">
                            <label for="female">
                                女
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>旧密码：</label>
                    </div>
                    <div class="right">
                        <input type="text" class="form-control" name="beforepass" id="beforepass"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>新密码：</label>
                    </div>
                    <div class="right">
                        <input type="text" class="form-control" name="newpass" id="newpass"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>确认密码：</label>
                    </div>
                    <div class="right">
                        <input type="text" class="form-control"  name="verifypass" id="verifypass"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>职业：</label>
                    </div>
                    <div class="right">
                        <select class="form-control" style="height:36px" id="occupation" name="occupation">
                            <option>公务员</option>
                            <option>个体经营者</option>
                            <option>自由职业者</option>
                            <option>离退休人员</option>
                            <option>学生</option>
                            <option>其他</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>学历：</label>
                    </div>
                    <div class="right">
                        <select class="form-control" style="height:36px" id="education" name="education">

                            <option>博士</option>
                            <option>研究生</option>
                            <option>本科</option>
                            <option>大专</option>
                            <option>高中或职中</option>
                            <option>在校学生</option>
                            <option>其他</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>手机号码：</label>
                    </div>
                    <div class="right">
                        <input type="text" class="form-control" style="width:200px;float:left;margin-right:10px"/>
                        <a href="#changePhoneNumber" role="button" class="btn" data-toggle="modal" style="float:left;width:90px;background-color:#ff5656;margin-top:-6px;height:36px;border-radius:0px"id="cellphone" name="cellphone"> 修改手机 </a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>固定电话：</label>
                    </div>
                    <div class="right">
                        <input type="text" class="form-control" id="fixed" name="fixed"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="left">
                        <label>E-mail：</label>
                    </div>
                    <div class="right">
                        <input type="text" class="form-control" id="email" name="email"/>
                    </div>
                </div>
                <div class="form-group" style="padding-top:11px;border-bottom: none;">
                    <div class="left" style="height:1px">
                    </div>
                    <div class="right">
                        <button class="btn" style="margin-right:15px;background-color:#ff5656" onclick=save()>保存</button>
                        <button class="btn" style="background-color:#ffc750">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="changePhoneNumber" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="changePhoneNumberLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog container" style="width:452px;margin-top:200px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body" style="padding-bottom:34px">
                <div class="container login-title" style="border-top: 1px solid #ff5656;width: 330px;margin-top: 2px;margin-bottom:15px;">
                    <p style="font-family: ms-yahei-bold;color: #ff5656;font-size: 18px;margin-top: -15px;margin-bottom:0px;background-color: white;width: 111px;margin-left: 109px;padding-left: 20px;padding-right: 0px;">修改手机</p>
                </div>
                
                <div class="form">
                    <form role="form">
                        <div class="form-group">
                            <div class="left">
                                <label>手机号码：</label>
                            </div>
                            <div class="right">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="left">
                                <label>手机验证：</label>
                            </div>
                            <div class="right">
                                <div class="input-group">
                                    <input type="text" class="form-control" style="width:190px;">
                                    <span class="input-group-btn">
                                        <button class="btn" type="button">获取验证码</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="left">
                                <label>新手机号：</label>
                            </div>
                            <div class="right">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="left">
                                <label>手机验证：</label>
                            </div>
                            <div class="right">
                                <div class="input-group">
                                    <input type="text" class="form-control" style="width:190px;">
                                    <span class="input-group-btn">
                                        <button class="btn" type="button">获取验证码</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                
                        <div class="form-group">
                            <div class="left" style="height:1px">
                            </div>
                            <div class="right">
                                <button type="button" class="btn" onclick="javascript:onModalOK();" style="    background-color: #ff5656;color: white;height: 40px;width: 200px;padding-left: 11px;padding-top: 7px;font-size: 18px;">确认新增</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="custom-js"}
<script>
    $(document).ready(function () {

    })

</script>
{/block}