{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}专业证书{/block}

{block name="main-part"}

<div style="height:922px">
    <div id="zhuanyedengjizhenshu">
        <div class="row">
            <div class="qk-portlet">
                <div class="qk-portlet-title">
                    <img class="qk-portlet-title-icon" src="/assets/img/xiangahuang-13.png">
                    <span class="qk-portlet-title-text">专业等级证书</span>
                    <a href="#responsive" id="new_address" data-toggle="modal">新增地址</a>
                </div>
                <div class="qk-portlet-content">
                    <table>
                        <thead>
                        <tr>
                            <th width="155px" >证书编号</th>
                            <th width="475px">证书名称</th>
                            <th width="146px">专业等级</th>
                            <th width="158px">审核状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>ZS00001</td>
                            <td>证书名称1</td>
                            <td>中级</td>
                            <td style="color: #00d9ae;">已审核</td>
                        </tr>
                        <tr>
                            <td>ZS00002</td>
                            <td>证书名称2</td>
                            <td>中级</td>
                            <td style="color: #ff5656;">未审核</td>
                        </tr>
                        <tr>
                            <td>ZS00003</td>
                            <td>证书名称3</td>
                            <td>高级</td>
                            <td style="color: #ff5656;">未审核</td>
                        </tr>
                        <tr>
                            <td>ZS00004</td>
                            <td>证书名称4</td>
                            <td>中级</td>
                            <td style="color: #00d9ae;">已审核</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}