{extend name="/common/templates/tpl-wo-sb"} 
{block name="page-title"}购买界面{/block} 
{block name="main"}
<div style="overflow: hidden;">
    <div class="search-header-container">
        <div class="row" style="padding-top:16px;padding-left: 34px;" id="product_types">
            
        </div>
        <div class="row" id="price_search" style="padding-left: 34px;">
            <div class="cri-key" style="letter-spacing: 3px;">时 间 币：</div>
            <input id="zt-1" class="radio-inline__input" type="radio" name="zt" value="1">
            <label class="radio-inline__label" for="zt-1">
                全部
            </label>
            <input id="zt-2" class="radio-inline__input" type="radio" name="zt" value="2">
            <label class="radio-inline__label" for="zt-2" style="padding-left: 14px;">
                0-50
            </label>
            <input id="zt-3" class="radio-inline__input" type="radio" name="zt" value="3">
            <label class="radio-inline__label" for="zt-3" style="padding-left: 25px;">
                50-100
            </label>
            <input id="zt-4" class="radio-inline__input" type="radio" name="zt" value="4">
            <label class="radio-inline__label" for="zt-4" style="padding-left: 6px;">
                100-200
            </label>
            <input id="zt-5" class="radio-inline__input" type="radio" name="zt" value="5">
            <label class="radio-inline__label" for="zt-5" style="padding-left: -14px;">
                200以上
            </label>
        </div>
        <div class="row" style="padding-left: 34px; padding-bottom: 13px;">
            <div class="cri-key" style="letter-spacing: 3px;">关 键 字：</div>
            <input type="text" class="form-control" id="search-key" style="float:left; width: 148px; height: 32px;margin-top: 5px;" />
            <button class="btn btn-search" onclick="product_search();">查找</button>
        </div>
    </div>
    <div class="table-header">
        <div class="fl sorting">排序</div>
        <label class="fl" id="sales_count" style="margin-top: -4px;padding: 16px 29px;font-size: 16px;position:relative;">销量
            <div class="fa fa-sort-asc" style="position: absolute;margin-top: 3px;" id="sales_asc"></div>
            <div class="fa fa-sort-desc" id="sales_desc"></div>
        </label>
        <label class="fl" id="price" style="margin-top: -4px;padding: 16px 25px;font-size: 16px;">价格
            <div class="fa fa-sort-asc" style="position: absolute;margin-top: 3px; color:#808080;" id="price_asc"></div>
            <div class="fa fa-sort-desc" style="color:#808080;" id="price_desc"></div>
        </label>
        <label class="fl" id="comments" style="margin-top: -4px;padding: 16px 31px;font-size: 16px;">评论
            <div class="fa fa-sort-asc" style="position: absolute;margin-top: 3px; color:#808080;" id="comments_asc"></div>
            <div class="fa fa-sort-desc" style="color:#808080;" id="comments_desc"></div>
        </label>
    </div>
    <!--onclick="sort('comments')"-->
    <div class="data-container" style="margin-bottom: 36px;overflow: hidden;"></div>
    <div id="pagination" class="fr" style="margin-bottom: 34px;"></div>

</div>
{/block} 

{block name="custom-css"}
<link href="/assets/css/pagination/pagination.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/index/index/public_welfaremall.css" rel="stylesheet" type="text/css" /> {/block} {block name="custom-js"}
<script src="/assets/js/pagination/pagination.js" type="text/javascript"></script>
<script>
    var product_json;
    var container = $('#pagination');
    $(document).ready(function () {

        $.ajax({
            url: '/index/mall.index/getProductRootTypes',
            method: 'GET',
            success: function(response) {
                product_types = JSON.parse(response).data;
                html = '<div class="cri-key"  style="letter-spacing: 11px;">品 类：</div>' +
                    '<input id = "lx-0" class= "radio-inline__input" type = "radio" name = "lx" value = "0" checked="checked">' +
                    '<label class="radio-inline__label" for="lx-0">' +
                    '全部' +
                    '</label>';
                for (var i = 0; i < product_types.length; i++)
                {
                    html = html + '<input id="lx-' + product_types[i].id + '" class="radio-inline__input" type="radio" name="lx" value="' + product_types[i].id + '">' +
                        '<label class="radio-inline__label" for="lx-' + product_types[i].id + '">';
                    html = html + product_types[i].name + '</label>';
                }
                $(".search-header-container > div.row:first-child").html(html);
            }
        });
        $.ajax({
            method: "GET",
            url: "/index/mall.index/search",
            success: function (response) {
                product_json = JSON.parse(response);
                build_pagination(product_json);
            }
        })
        $("#lx-1").attr("checked", true);
        $("#zt-1").attr("checked", true);
        
        //$(".btn-search").click();
    });

    //when detail demand type's is clicked.
    $("#product_types").change(product_search);
    //when detail demand type's is clicked.
    $("#price_search").change(product_search);

    function product_search()
    {
        var product_type = $("input[name='lx']:checked").val();
        var time_money = $("input[name='zt']:checked").val();
        var key = $("#search-key").val();

        // console.log('product_type='+product_type+'time_money='+time_money+'key='+key);
        $.ajax({
            method: "GET",
            url: "/index/mall.index/search",
            data: { product_type: product_type, time_money: time_money, key: key },
            success: function (response) {
                build_pagination(JSON.parse(response));
            }
        })
    }

    document.onkeydown=function(event)
    {
        e = event ? event :(window.event ? window.event : null);
        if(e.keyCode==13){
            product_search();
        }
    }
    function build_pagination(data_json)
    {
        var tempData = [];
        for (var i = 0; i < data_json.items.length; i += 4) {
            var exItem = [];
            exItem[0] = data_json.items[i];
            exItem[1] = data_json.items[i + 1];
            exItem[2] = data_json.items[i + 2];
            exItem[3] = data_json.items[i + 3];

            tempData[i / 4] = exItem;
        }

        $.extend($.fn.pagination.defaults, {
            pageSize: 4
        })
        var options = {
            dataSource: tempData,
            callback: function (response, pagination)
            {

                var dataHtml = '';
                $.each(response, function (index, item) {

                    dataHtml += '<div class="col">\n' +
                        '        <img src="' + item[0].thumbnail + '" width="266px" height="267px"/>\n' +
                        '        <div class="contents">\n' +
                        '            <p>\n' +
                        '                <span>总销量：' + item[0].sales_count + '</span>\n' +
                        '                <span style="float: right;">累计评论：' + item[0].comments + '</span>\n' +
                        '            </p>\n' +
                        '            <p>' + item[0].description + '</p>\n' +
                        '            <p>\n' +
                        '                <span>时间币：</span><span style="font-family: ms-yahei-bold;font-size: 16px;color: #ff5656">' + item[0].price + '</span>\n' +
                        '                <span style="float: right;">库存：' + item[0].in_stock + '</span>\n' +
                        '            </p>\n' +
                        '            <div class="actions">\n' +
                        '                <a id="add_cart_button_' + item[0].id +'" role="button" class="btn btn-danger add-to-cart"" onclick="add_cart(' + item[0].id +')">加入购物车</a>\n' +
                        '                <a role="button" class="btn btn-danger buy-now">立即购买</a>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '    </div>';
                    if (item[1] != null)
                    {

                        dataHtml += '    <div class="col">\n' +
                            '        <img src="' + item[1].thumbnail + '" width="266px" height="267px"/>\n' +
                            '        <div class="contents">\n' +
                            '            <p>\n' +
                            '                <span>总销量：' + item[1].sales_count + '</span>\n' +
                            '                <span style="float: right;">累计评论：' + item[1].comments + '</span>\n' +
                            '            </p>\n' +
                            '             <p>' + item[1].description + '</p>\n' +
                            '            <p>\n' +
                            '                <span>时间币：</span><span style="font-family: ms-yahei-bold;font-size: 16px;color: #ff5656">' + item[1].price + '</span>\n' +
                            '                <span style="float: right;">库存：' + item[1].in_stock + '</span>\n' +
                            '            </p>\n' +
                            '            <div class="actions">\n' +
                            '                <a id="add_cart_button_' + item[1].id +'" role="button" class="btn btn-danger add-to-cart"" onclick="add_cart(' + item[1].id +')">加入购物车</a>\n' +
                            '                <a role="button" class="btn btn-danger buy-now">立即购买</a>\n' +
                            '            </div>\n' +
                            '        </div>\n' +
                            '    </div>';
                    }
                    if (item[2] != null)
                    {

                        dataHtml += '    <div class="col">\n' +
                            '        <img src="' + item[2].thumbnail + '" width="266px" height="267px"/>\n' +
                            '        <div class="contents">\n' +
                            '            <p>\n' +
                            '                <span>总销量：' + item[2].sales_count + '</span>\n' +
                            '                <span style="float: right;">累计评论：' + item[2].comments + '</span>\n' +
                            '            </p>\n' +
                            '             <p>' + item[2].description + '</p>\n' +
                            '\n' +
                            '            <p>\n' +
                            '                <span>时间币：</span><span style="font-family: ms-yahei-bold;font-size: 16px;color: #ff5656">' + item[2].price + '</span>\n' +
                            '                <span style="float: right;">库存：' + item[2].in_stock + '</span>\n' +
                            '            </p>\n' +
                            '            <div class="actions">\n' +
                            '                <a id="add_cart_button_' + item[2].id +'" role="button" class="btn btn-danger add-to-cart" onclick="add_cart('+item[2].id+')">加入购物车</a>\n' +
                            '                <a role="button" class="btn btn-danger buy-now">立即购买</a>\n' +
                            '            </div>\n' +
                            '        </div>\n' +
                            '    </div>';
                    }
                    if (item[3] != null)
                    {

                        dataHtml += '<div class="col" style="margin-right: 0px;">\n' +
                            '        <img src="' + item[3].thumbnail + '" width="266px" height="267px"/>\n' +
                            '        <div class="contents">\n' +
                            '            <p>\n' +
                            '                <span>总销量：' + item[3].sales_count + '</span>\n' +
                            '                <span style="float: right;">累计评论：' + item[3].comments + '</span>\n' +
                            '            </p>\n' +
                            '             <p>' + item[3].description + '</p>\n' +
                            '            <p>\n' +
                            '                <span>时间币：</span><span style="font-family: ms-yahei-bold;font-size: 16px;color: #ff5656">' + item[3].price + '</span>\n' +
                            '                <span style="float: right;">库存：' + item[3].in_stock + '</span>\n' +
                            '            </p>\n' +
                            '            <div class="actions">\n' +
                            '                <a id="add_cart_button_'+ item[3].id  +'" role="button" class="btn btn-danger add-to-cart"" onclick="add_cart(' + item[3].id +')">加入购物车</a>\n' +
                            '                <a role="button" class="btn btn-danger buy-now">立即购买</a>\n' +
                            '            </div>\n' +
                            '        </div>\n' +
                            '    </div>';
                    }
                });
                if (data_json.items.length > 0)
                {
                    container.prev().html(dataHtml);
                }
                else
                {
                    var dataHtml = '<div style="color:red;text-align: center;font-size: 20px;padding-top: 16px;">搜索结果中没有产品。</div>'
                    container.prev().html(dataHtml);
                }
            }
        };
        container.pagination(options);
    }
    //json array sort function
    function sortByKey(array, key, sortmethod)
    {
        console.log(array);
        if (sortmethod == 'asc')
        {
            return array.sort(function (a, b)
            {
                var x = a[key]; var y = b[key];
                return ((x < y) ? -1 : ((x > y) ? 1 : 0));
            });
        }
        else if (sortmethod == 'desc')
        {
            return array.sort(function (a, b)
            {
                var x = a[key]; var y = b[key];
                return ((x > y) ? -1 : ((x < y) ? 1 : 0));
            });
        }

    }

    function sort(param, sortMethod)
    {
        var data_json = product_json;
        data_json.items = sortByKey(data_json.items, param, sortMethod);

        build_pagination(data_json);
    }

    var clicked = true;
    $(".table-header label").click(function ()
    {
        var valueElement = $('#' + $(this).attr('id'));

        var idStr = valueElement.attr('id');

        //initialize
        $(".table-header label").css("color", "#0e0e0e");
        $(".table-header .fa-sort-asc").css("color", "#0e0e0e");
        $(".table-header .fa-sort-desc").css("color", "#0e0e0e");

        valueElement.css("color", "#ff5656");

        if (clicked)
        {
            $("#" + idStr + " .fa-sort-desc").css("color", "#0e0e0e");
            $("#" + idStr + " .fa-sort-asc").css("color", "#ff5656");
            sort(idStr, 'asc');
            clicked = false;
        }
        else
        {
            $("#" + idStr + " .fa-sort-desc").css("color", "#ff5656");
            $("#" + idStr + " .fa-sort-asc").css("color", "#0e0e0e");
            sort(idStr, 'desc');
            clicked = true;
        }
    })

    function add_cart(id) {
        // console.log(id);
        var count = 0;

        product_json.items[id-1].state = false;

        $.ajax({
            url: '/add_to_cart',
            method: 'post',
            data: 'id='+id,
            success: function (response) {

                if (response == "need_auth")
                {
                    $.alert({
                        title:'确认',
                        content:'你不会登录。 请登录!.',
                    })
                    document.location = '/login_form';
                }
                else if (response == "already exist")
                {
                    $.alert({
                        title:'确认',
                        content:'该产品已存在于购物篮中!.',
                    })
                }

            },
            error: function (error) {
                console.log(error);
                product_json.items[id-1].state = true;
            }
        });

    }

</script> 
{/block}