{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}
承接的服务
{/block}
{block name="custom-css"}
<link rel="stylesheet" href="/assets/css/index/serviceManage/service_undertaken.css">
{/block}

{block name="main-part"}
<div>
    <div class="qk-portlet">
        <div class="qk-portlet-title" style="padding-left: 19px;padding-top: 13px;width:939px;height:50px">

            <img class="qk-portlet-title-icon" src="/assets/img/undertake.png" style="margin-right:3px"/>
            <span class="qk-portlet-title-text">承接的服务</span>
        </div>
        <div class="qk-portlet-content" style="padding-left:19px;padding-right:19px">
            <div style="text-align:center">
                <p style="font-family:ms-yahei-bold;font-size:18px;color:#ff5656;margin-top:15px;margin-bottom:14px">{$data[0]['title']}</p>
                <span class="label label-danger" style="font-family:ms-yahei-bold;font-size:16px;background-color:#ff5656;padding: 4px 21px;border-radius:4px">已完成</span>
                <div style="padding-top: 24px;padding-left: 119px;padding-bottom:23px;font-size: 12px;width: 897px;text-align:left">
                    <div style="float:left;width:164px;">发布人：{$data[0]['real_name']}</div>
                    <div style="float:left;width:189px">需求类型：{$data[0]['demand_type']}</div>
                    <div style="float:left;width:177px">支付时间币：{$data[0]['pay_amount']}</div>
                    <div style="float:left">发布时间：{$data[0]['published_time']}</div>
                    <div class="clearfix"></div>
                </div>
                <div style="background-color:#fff7f7;border-top: 4px solid #eb3d3d;border-bottom: 4px solid #eb3d3d;width: 899px; padding: 21px 20px 21px 20px; margin-bottom:30px">
                    <div style="border:1px dotted #ff5656;width:862px;background-color:white;text-align:left;padding: 14px 14px 12px 20px">
                        <span style="padding-top: 13px;font-family: ms-yahei-bold;font-size: 14px;line-height: 24px;">{$data[0]['apply_requirement']}</span>
                    </div>
                </div>

                <div style="width:900px;border:1px solid #e4e4e4;margin-left:-1px;text-align:left;margin-bottom:25px">
                    <div style="padding:17px 20px;border-bottom: 1px dotted #e9e9e9;">
                        <img src="/assets/img/undertake1-yellow.png" style="margin-right:6px;"/>
                        <span style="color:#f8a046">承接人</span>
                        <div style="margin-top: 6px;margin-left: 30px;">{$data[0]['name']}</div>
                    </div>
                    <div>
                        <div style="float:left;padding:16px 20px;border-right: 1px dotted #e9e9e9;border-bottom: 1px dotted #e9e9e9;width:450px">
                            <img src="/assets/img/time-yellow.png"  style="margin-right:6px;"/>
                            <span style="color:#f8a046">承接时间</span>
                            <div style="margin-top: 6px;margin-left: 30px;">{$data[0]['accepted_time']}</div>
                        </div>
                        <div style="float:left;padding:16px 20px;border-bottom: 1px dotted #e9e9e9;width:448px">
                            <img src="/assets/img/tick-yellow.png"  style="margin-right:6px;"/>
                            <span style="color:#f8a046">完成时间</span>
                            <div style="margin-top: 6px;margin-left: 30px;">{$data[0]['complete_time']}</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <div style="float:left;padding:16px 20px;border-right: 1px dotted #e9e9e9;width:450px">
                            <img src="/assets/img/feedback-heart-yellow.png" style="margin-right:6px;" />
                            <span style="color:#f8a046">发布人评价</span>
                            <?php
                                 if ($data[0]['publisher_review_rate'] == 0)
                                     echo "<div  style='margin-top: 6px;margin-left: 30px;color:#ff5656;'>待评价</div>";
                        else {?>
                        <div style="margin-top: 6px;margin-left: 30px;">
                            <p style="margin:0px">{:model('demand')->getEvaluationText($data[0]['publisher_review_rate'])}</p>
                            <p style="margin:0px;line-height:25px">{$data[0]['publisher_comment_text']}</p>
                        </div>
                        <?php } ?>
                    </div>
                    <div style="float:left;padding:16px 20px;">
                        <img src="/assets/img/flower-light-yellow.png" style="margin-right:6px;" />
                        <span style="color:#f8a046">承接人评价</span>
                        <?php
                                 if ($data[0]['accepter_review_rate'] == 0)
                                     echo "<div  style='margin-top: 6px;margin-left: 30px;color:#ff5656;'>待评价</div>";
                    else {?>
                    <div  style="margin-top: 6px;margin-left: 30px;">
                        <p style="margin:0px">{:model('demand')->getEvaluationText($data[0]['accepter_review_rate'])}</p>
                        <p style="margin:0px;line-height:25px">{$data[0]['accepter_comment_text']}</p>
                    </div>
                    <?php } ?>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="qk-portlet1" style="width:898px;margin-bottom:31px">
            <div class="qk-portlet1-title">
                项目人头像
            </div>
            <div class="qk-portlet1-body" style="padding-top:21px">
                <div style="float:left;width:50%;">
                    <img src="{$data[0]['publisher_comment_image']}" style="width:180px;height:220px;margin-bottom:-5px" />
                    <div>
                        <p style="margin-bottom:-25px">志愿者</p>
                        <p  style="margin-bottom:17px">（承接人）</p>
                    </div>
                </div>
                <div style="float:left;width:50%">
                    <img src="{$data[0]['accepter_comment_image']}" style="width:180px;height:220px;margin-bottom:-5px" />
                    <div>
                        <p style="margin-bottom:-25px">服务对象</p>
                        <p style="margin-bottom:17px">（发布人）</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <form method="post" action="/index/service_management.show_published/save" id="insertReviewForm" enctype="multipart/form-data">
            <div class="qk-portlet1" style="width:898px;margin-bottom:30px">
                <div class="qk-portlet1-title">
                    项目合照
                </div>
                <input type="hidden" name="mode" id="mode" value="1">
                <input type="hidden" name="demand_id" id="demand_id" value="{$data[0]['id']}">
                <input type="hidden" name="user_id" id="user_id" value="{$data[0]['user_id']}">
                <div class="qk-portlet1-body" style="padding-top:21px">

                    <div style="float:left;width:50%;padding: 0px 50px">
                        <div style="width:350px;height:220px;border:1px dashed #ffbaba;background-color:#f9f9f9;padding-top:78px">
                            <img src="/assets/img/plus-circle-red.png" style="align-content: center;" />
                            <p style="font-size:12px;color:#808080;margin-top:16px;">请上传项目合照</p>
                        </div>
                        <div>
                            <p style="margin-bottom: 31px;margin-top: 14px;">由承接人上传</p>
                        </div>
                    </div>

                    <div style="float:left;width:50%;padding: 0px 50px">
                        <div id="image-preview-front" class="" style="width:350px;height:220px;border:1px dashed #ffbaba;background-color:#f9f9f9;padding-top:78px">
                            <input type="file" name="accepter-image" id="accepter-image">
                            <img src="/assets/img/plus-circle-red.png" style="align-content: center;" />
                            <p style="font-size:12px;color:#808080;margin-top:16px;">请上传项目合照</p>
                        </div>
                        <div>
                            <p style="margin-bottom: 31px;margin-top: 14px;margin-top:16px;">由发布人上传</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="qk-portlet1" style="width:898px;margin-bottom:35px">
                <div class="qk-portlet1-title">
                    服务评价
                </div>
                <div class="qk-portlet1-body" style="padding:21px 19px;text-align:left;margin-bottom:-4px">
                    <p style="margin:0px;margin-bottom:13px">
                        <span style="font-size:14px;font-family:ms-yahei-bold;margin-right:19px">评价等级：</span>
                        <input id="hao" class="radio-inline__input" type="radio" name="review" value="5" checked="checked" />
                        <label class="radio-inline__label" for="hao">
                            好评
                        </label>
                        <input id="zhong" class="radio-inline__input" type="radio" name="review" value="3"/>
                        <label class="radio-inline__label" for="zhong">
                            中评
                        </label>
                        <input id="cha" class="radio-inline__input" type="radio" name="review" value="1"/>
                        <label class="radio-inline__label" for="cha">
                            差评
                        </label>
                    </p>
                    <textarea placeholder="请输入评价内容......" style="background-color: #f9f9f9;width: 859px;height: 150px;border: 1px dashed #ffbaba;padding:14px 20px;"></textarea>
                </div>
            </div>

            <button class="btn" type="submit" style="background-color:#ff5656;color:white;font-size:14px;font-family:ms-yahei-bold;padding:9px 55px;margin-bottom:87px">完成</button>
        </form>

    </div>

</div>
</div>
</div>
{/block}
{block name="custom-js"}
<script type="text/javascript" src="/assets/js/uploadpreview.min.js"></script>
<script>
    $(document).ready(function () {

        $.uploadPreview({
            input_field: "#accepter-image",
            preview_box: "#image-preview-back",
            label_selected: "Change File"
        });

    });

</script>
{/block}