{extend name="/common/templates/tpl-w-sb"}
{block name="page-title"}
发布需求
{/block}
{block name="custom-css"}
<link rel="stylesheet" href="/assets/css/index/serviceManage/demand_detail_one.css">
{/block} {block name="main-part"}
<div>
    <div class="qk-portlet">
        <div class="qk-portlet-title">
            <img class="qk-portlet-title-icon mr6" src="/assets/img/paper-plane.png"/>
            <span class="qk-portlet-title-text">发布的需求</span>
        </div>
        <div class="qk-portlet-content pl19 pr19">

            <p class="topic">{$data[0]['title']}</p>
            <span class="label label-danger button-complted">已完成</span>
            <div class="description">
                <div class="left" style="width:164px;">发布人：{$data[0]['publiser_name']}</div>
                <div class="left" style="width:189px">需求类型：{$data[0]['demand_type']}</div>
                <div class="left" style="width:177px">支付时间币：{$data[0]['pay_amount']}</div>
                <div class="left">发布时间：{$data[0]['published_time']}</div>
                <div class="clearfix"></div>
            </div>
            <div class="description-container">
                <div class="first-content-container">
                    <span class="first-contents">{$data[0]['apply_requirement']}</span>
                </div>
                <?php
                        $year_from=explode("-",$data[0]['service_time_from'])[0];
                        $month_from=explode("-",$data[0]['service_time_from'])[1];
                        $day_from=explode("-",$data[0]['service_time_from'])[2];
                        $year_to=explode("-",$data[0]['service_time_to'])[0];
                        $month_to=explode("-",$data[0]['service_time_to'])[1];
                        $day_to=explode("-",$data[0]['service_time_to'])[2];
                    ?>
                <div class="second-content-container">
                    <div class="left br-red-dot width50">
                        <img src="/assets/img/time-light-red.png" class="mr6">
                        <span class="font-red-14">服务时间</span>
                        <div class="ml29 mt6 mb14">{$year_from}年{$month_from}月{$day_from}-{$year_to}年{$month_to}月{$day_to}，{$data[0]['time_total']}</div>
                        <img src="/assets/img/lianxiren-light-red.png" class="mr6">
                        <span class="font-red-14">联系人</span>
                        <div class="ml29 mt6 mb14">{$data[0]['contact_name']}</div>
                        <img src="/assets/img/calendar-light-red.png" class="mr6">
                        <span class="font-red-14">有效期至</span>
                        <div class="ml29 mt6 mb14">{$data[0]['valid_times']}</div>
                    </div>
                    <div class="left pl20 width50">
                        <img src="/assets/img/location-light-red.png" style="margin-right:5px">
                        <span class="font-red-14">服务地点</span>
                        <div class="ml29 mt6 mb14">{$data[0]['total_detail']}</div>
                        <img src="/assets/img/phone-call-light-red.png" style="margin-right:5px">
                        <span class="font-red-14">联系电话</span>
                        <div class="ml29 mt6 mb14">{$data[0]['contact_phone']}</div>
                        <img src="/assets/img/doc-light-red.png" style="margin-right:5px">
                        <span class="font-red-14">承接要求</span>
                        <div class="ml29 mt6 mb14">{$data[0]['apply_requirement']}</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div style="border:1px solid #e4e4e4;margin-bottom:25px">
                <div>
                    <div class="third-content-line" style="border-top: none;">
                        <img src="/assets/img/undertake1-yellow.png" class="mr6" />
                        <span style="color:#f8a046">承接时间</span>
                        <div class="mt6 ml29">{$data[0]['accepted_time']}</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <div class="third-content-line">
                        <img src="/assets/img/time-yellow.png" class="mr6" />
                        <span style="color:#f8a046">承接时间</span>
                        <div class="mt6 ml29">{$data[0]['accepted_time']}</div>
                    </div>
                    <div class="third-content-line" style="width: 448px;">
                        <img src="/assets/img/tick-yellow.png" class="mr6" />
                        <span style="color:#f8a046">完成时间</span>
                        <div class="mt6 ml29">{$data[0]['complete_time']}</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <div class="third-content-line">
                        <img src="/assets/img/feedback-heart-yellow.png" class="mr6" />
                        <span style="color:#f8a046">发布人评价</span>
                        <div class="mt6 ml29">
                            <p class="ml-7 mt0 mb7" style="margin-left: -10px;margin-top: 3px;">{$freelancer_review_data[1]['review']}</p>
                            <p class="review_text" style="margin-left: 0px;">{$freelancer_review_data[0]['description']}</p>
                        </div>
                    </div>
                    <div class="third-content-line" style="width: 448px;">
                        <img src="/assets/img/flower-light-yellow.png" class="mr6" />
                        <span style="color:#f8a046">承接人评价</span>
                        <div class="mt6 ml29">
                            <p class="ml-7 mt0 mb7" style="margin-left: -10px;margin-top: 3px;">{$publisher_review_data[1]['review']}</p>
                            <p class="review_text" style="margin-left: 0px;">{$publisher_review_data[0]['description']}</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="qk-portlet1" style="margin-bottom:31px">
                <div class="qk-portlet1-title">
                    项目合照
                </div>
                <div class="img-box">
                    <img src="{$freelancer_review_data[2]['image']}" style="width:350px;height:220px"/>
                </div>
                <div class="img-box" style="border-right: none;padding-right: 20px;">
                    <img src="{$publisher_review_data[2]['image']}" style="width:350px;height:220px"/>
                </div>

                <div class="clearfix"></div>

            </div>

            <button class="btn return">返回</button>

        </div>
    </div>
</div>
{/block}
{block name="custom-js"}
<script src="/assets/datepicker/datepicker.min.js" type="text/javascript"></script>
<script src="/assets/js/common/common.js" type="text/javascript"></script>
{/block}
