<div class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-cell">
                    <div>友情链接</div>
                    <div>
                        <p>某企业名称</p>
                        <p>某企业名称</p>
                        <p>某公益机构名称</p>
                        <p>某公益机构名称</p>
                    </div>
                </div>
                <div class="footer-cell">
                    <div>帮助中心</div>
                    <div>
                        <p>志愿者操作手册</p>
                        <p>志愿者操作手册</p>
                        <p>志愿者操作手册</p>
                        <p>志愿者操作手册</p>
                    </div>
                </div>
                <div class="footer-cell">
                    <div>微信公众号</div>
                    <div>
                        <img src="/assets/img/qr-code.png" />
                        <p>扫一扫</p>
                    </div>
                </div>
                <div class="footer-cell">
                    <div>关于我们</div>
                    <div>
                        <p>关于我们</p>
                        <p>招聘信息</p>
                        <p>项目条款</p>
                        <p>项目规则</p>
                    </div>
                </div>
                <div class="footer-cell">
                    <div>联系我们</div>
                    <div>
                        <p>服务热线</p>
                        <p>400-000-000</p>
                        <p>周一至周日</p>
                        <p>8:00 - 20:00</p>
                        <button type="button" class="btn">在线客服</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        Copyright 2018 版权所有
    </div>
</div>