<div class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-cell">
                    <div>友情链接</div>
                    <div>
                         {foreach :model('link')->where(['is_deleted' => 0, 'is_show' => 1])->limit(4)->select() as $key=>$item } 
                            <p><a href="{$item->url}">{$item->name}</a></p>
                         {/foreach}
                    </div>
                </div>
                <div class="footer-cell">
                    <div>帮助中心</div>
                    <div>
                        {foreach :model('help_link')->where(['is_deleted' => 0, 'is_show' => 1])->limit(4)->select() as $key=>$item }
                        <p>
                            <a href="{$item->url}">{$item->name}</a>
                        </p>
                        {/foreach}
                    </div>
                </div>
                <div class="footer-cell">
                    <div>微信公众号</div>
                    <div>
                        <img src="/assets/img/qr-code.png" />
                        <p>扫一扫</p>
                    </div>
                </div>
                <div class="footer-cell">
                    <div>关于我们</div>
                    <div>
                        <p><a href="about_us">关于我们</a></p>
                        <p><a href="recruitment_information">招聘信息</a></p>
                        <p><a href="">项目条款</a></p>
                        <p><a href="">项目规则</a></p>
                    </div>
                </div>
                <div class="footer-cell">
                    <div>联系我们</div>
                    <div>
                        <p>服务热线</p>
                        <p>400-000-000</p>
                        <p>周一至周日</p>
                        <p>8:00 - 20:00</p>
                        <button type="button" class="btn">在线客服</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        Copyright 2018 版权所有
    </div>
</div>