<div class="sidebar-box" style="width:inherit;">
    <div class="sidebar-title">
        <img src="/assets/img/book.png">
        <span style="color:#ff5656">资料管理</span>
    </div>
    <nav class="sidebar-list">
        <ul>
            <li><a href="/personal_information" class="{eq name='side_nav' value='personal_info'}active{/eq}">个人信息</a></li>
            <li><a href="/verify" class="{eq name='side_nav' value='real_name_verify'}active{/eq}">实名认证</a></li>
            <li><a href="/certificates" class="{eq name='side_nav' value='certification'}active{/eq}">专业证书</a></li>
            <li><a href="/address_book" class="{eq name='side_nav' value='address_manage'}active{/eq}">地址管理</a></li>
        </ul>
    </nav>
</div>
<div class="sidebar-box" style="width:inherit;">
    <div class="sidebar-title">
        <img src="/assets/img/heart.png">
        <span style="color:#ff9710">服务管理</span>
    </div>
    <nav class="sidebar-list">
        <ul>
            <li><a href="/publish_demand" class="{eq name='side_nav' value='project_publish'}active{/eq}">发布需求</a></li>
            <li><a href="/apply_demand" class="{eq name='side_nav' value='project_apply'}active{/eq}">承接服务</a></li>
            <li><a href="/project_published" class="{eq name='side_nav' value='project_published'}active{/eq}">发布的需求</a></li>
            <li><a href="/project_accepted"  class="{eq name='side_nav' value='project_applied'}active{/eq}">承接的服务</a></li>
        </ul>
    </nav>
</div>
<div class="sidebar-box" style="width:inherit;">
    <div class="sidebar-title">
        <img src="/assets/img/account.png">
        <span style="color: #efca00">账户管理</span>
    </div>
    <nav class="sidebar-list">
        <ul>
            <li><a href="/transactionhistory" class="{eq name='side_nav' value='transaction_history'}active{/eq}">时间币明细</a></li>
            <li><a href="/charge" class="{eq name='side_nav' value='buy'}active{/eq}">时间币充值</a></li>
            <li><a href="/transfer" class="{eq name='side_nav' value='transfer'}active{/eq}">时间币捐赠</a></li>
        </ul>
    </nav>
</div>

<div class="sidebar-box" style="width:inherit;">
    <div class="sidebar-title">
        <img src="/assets/img/manage.png">
        <span style="color: #00ded6">商城管理</span>
    </div>
    <nav class="sidebar-list">
        <ul>
            <li><a href="/order_published" class="{eq name='side_nav' value='orders'}active{/eq}">我的订单</a></li>
            <li><a href="/open_cart" class="{eq name='side_nav' value='collection'}active{/eq}">我的收藏</a></li>
        </ul>
    </nav>
</div>

<div class="sidebar-box" style="width:inherit;">
    <nav class="sidebar-list">
        <ul>
            <li><a href="/complaints" class="{eq name='side_nav' value='complaints'}active{/eq}">投诉与建议</a></li>
        </ul>
    </nav>
</div>