{extend name="/common/templates/tpl-w-sb"} {block name="page-title"}时间币明细表{/block} {block name="main-part"}
<div style="height: 1349px;">
    <div class="qk-portlet">
        <div class="qk-portlet-title">
            <img class="qk-portlet-title-icon" src="/assets/img/shape-14.png" />
            <span class="qk-portlet-title-text" style="font-size: 18px">时间币捐赠</span>
        </div>
    </div>
    <div class="qk-portlet-content">
        <div class="form-group">
            <div class="left">
                <label>时间币数量：</label>
            </div>
            <div class="right">
                <span class="numbers" id="total_amount">{$total_amount}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>转入用户名：</label>
            </div>
            <div class="right">
                <input type="text" class="form-control" id="user_name1" style="float:left" >
                <span class="err_text" id="name_error" style="margin-top:7px;margin-left:36px;float:left;"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>会员姓名：</label>
            </div>
            <div class="right">
                <input type="text" class="form-control" id="real_name" style="float:left" readonly="readonly">
                <span class="err_text" id="real_name_error" style="margin-top:7px;margin-left:36px;float:left;"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>会员手机号：</label>
            </div>
            <div class="right">
                <input type="text" class="form-control" id="mobile" style="float:left" readonly="readonly">
                <span class="err_text" id="mobile_error" style="margin-top:7px;margin-left:36px;float:left;" ></span>
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>转入数量：</label>
            </div>
            <div class="right">
                <input type="text" class="form-control" id="amount" style="float:left">

                <span class="err_text" id="amount_error" style="margin-top:7px;margin-left:36px;float:left;"></span>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-5 col-md-6">
                    <button class="btn conformation-transfer">确定转赠</button>
                </div>
            </div>
        </div>

        <div class="table-container">
            <div class="qk-portlet-title" style="height: 44px;">
                <img class="qk-portlet-title-icon" src="/assets/img/record_copy.png" />
                <span class="qk-portlet-title-text">转赠记录</span>
            </div>
            <div class="form-search-content" style="width: 100%;">
                <div class="ohter-form-group">
                    <div class="other-left">
                        <label>日期：</label>
                    </div>
                    <div class="other-right" style="width:100px; margin-right: 8px;">
                        <input type="text" class="form-control calendar" id="time_from">
                    </div>
                </div>
                <div class="ohter-form-group">
                    <div class="other-left">
                        <label>至：</label>
                    </div>
                    <div class="other-right" style="width:100px; margin-right: 8px; margin-left: 0px;">
                        <input type="text" class="form-control calendar" id="time_to">
                    </div>
                </div>
                <div class="ohter-form-group">
                    <div class="other-left" style="margin-left: 22px;">
                        <label>用户名：</label>
                    </div>
                    <div class="other-right" style="width:100px; margin-right: 8px; margin-left: 0px;">
                        <input type="text" class="form-control" id="user_name">
                    </div>
                </div>
                <div class="ohter-form-group">
                    <div class="other-left" style="margin-left: 31px;">
                        <label>方式：</label>
                    </div>
                    <div class="other-right" style="margin-right: 33px">
                        <select class="form-control" style="padding: 0px 19px;font-size:14px" id="transaction_type">
                            <option value="1">充值</option>
                            <option value="2">转赠</option>
                            <option value="3">购买</option>
                            <option value="4">发布项目</option>
                            <option value="5">承接项目</option>
                        </select>
                    </div>
                </div>
                <div class="ohter-form-group">
                    <div class="other-right" style="margin-left: 29px">
                        <button class="btn inquire">查询</button>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="data-container">

            </div>
            <div id="pagination" style="float: right"></div>
        </div>

    </div>

</div>
{/block} {block name="custom-css"}
<link href="/assets/css/index/timemoney/transfer.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/pagination/pagination.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" href="/assets/datepicker/datepicker.min.css">
{/block} 
{block name="custom-js"}
<script src="/assets/js/pagination/pagination.js" type="text/javascript"></script>
<script src="/assets/datepicker/datepicker.js" type="text/javascript"></script>
<script src="/assets/js/common/common.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#user_name1").focus();
        $(".conformation-transfer").attr('disabled','disabled');
    });

    $(".inquire").click(function() {
        displayTransactionHistory();
    });

    $("#user_name1").on('keypress',function (event) {
        if(event.keyCode == 13 )
        {
            getRealName_mobile();
        }
    })

    $("#user_name1").focusout(function () {
        getRealName_mobile();
    })

    function getRealName_mobile()
    {
        var user_id = $("#user_name1").val();

        $.ajax({
            url : '/index/time_money/getRealName_mobile/',
            method : 'POST',
            data : {user_id:user_id},
            success: function (response) {
                result = JSON.parse(response);
                if(result.length==0)
                {
                    $("#name_error").text('您输入的用户名不存在，请尝试插入用户名').show();
                    $("#user_name1").val('');
                    $("#real_name").val('');
                    $("#mobile").val('');
                    $("#amount").val('');
                    $("#user_name1").focus();
                }
                else
                {
                    $("#real_name").val(result[0].real_name);
                    $("#mobile").val(result[0].mobile);
                    $("#amount").focus();
                }
            },
            error:function (error) {
                console.log(error);
            }
        });
    }

    function isFloat(value)
    {
        return value!= "" && !isNaN(value) && Math.round(value) != value;
    }
    $(".conformation-transfer").click(function (event) {
        event.preventDefault();
        var user_name = $("#user_name1").val();
        var real_name = $("#real_name").val();
        var mobile = $("#mobile").val();
        var amount = parseFloat($("#amount").val());

        var total_amount = parseFloat($("#total_amount").text());


        if (amount > total_amount) {
            $("#amount_error").text("Pay amount can't be larger than the balance.");
            return;
        } else {
            $("#amount_error").text("");
        }

        var result = validate();

        if (result) {
            $.ajax({
                url: "/index/time_money/confirmtransfer/",
                method: "GET",
                data: { user_name: user_name, real_name: real_name, mobile: mobile, amount: amount },
                success: function (response) {
                    response = JSON.parse(response);
                    if (response.is_error) {
                        alert(response.error_message);
                        return;
                    }
                    $("#total_amount").text(response.total_amount);
                    displayTransactionHistory();
                }
            });
        }
    });
    displayTransactionHistory();
    $("#time_from").datepicker({
        autoHide: true,
        format: 'yyyy-mm-dd'
    });
    $("#time_to").datepicker({
        autoHide: true,
        format: 'yyyy-mm-dd'
    });

    $(".calendar").val(format_date(new Date()));
    $(".calendar").change(function () {
        if ($("#time_from").val() >= $("#time_to").val()) $("#time_to").val($("#time_from").val());
    });

    var container = $('#pagination');

    function validate() {
        $(".conformation-transfer").prop("disabled", true);
        var user_name = $("#user_name").val();
        var real_name = $("#real_name").val();
        var mobile = $("#mobile").val();
        var amount = $("#amount").val();
        var user_id = 0;

        var error = [];
        error.name_error = false;
        error.real_error = false;

        if (user_name.trim() == "") {
            error.name_error = true;
            $("#name_error").text("请输入用户名");
        } else {
            $.ajax({
                url:"/index/user/name_exists/name/" + user_name,
                method: "GET",
                async: false,
                success: function(response) {
                    response = JSON.parse(response);
                    if (!response) {
                        error.name_error = true;
                        $("#name_error").text("用户名不存在");
                    } else {
                        user_id = response;
                        $("#name_error").text("");
                    }

                }
            });
        }

        if (real_name.trim() == "") {
            error.real_error = true;
            $("#real_name_error").text("请输入会员姓名");
        } else {
            $.ajax({
                url: "/index/user/realnamecorrect/",
                data: {user_id: user_id, real_name: real_name},
                method: "GET",
                async: false,
                success: function (response) {
                    response = JSON.parse(response);
                    if (!response) {
                        error.real_error = true;
                        $("#real_name_error").text("会员姓名不正确");
                    } else {
                        $("#real_name_error").text("");
                    }
                }
            });
        }

        if (mobile.trim() == "") {
            error.mobile_error = true;
            $("#mobile_error").text("请输入手机号码");
        } else {
            $.ajax({
                url: "/index/user/mobilecorrect/",
                method: "GET",
                data: {user_id: user_id, mobile: mobile},
                async: false,
                success: function (response) {
                    response = JSON.parse(response);
                    if (!response) {
                        error.mobile_error = true;
                        $("#mobile_error").text("手机号码不正确");
                    } else {
                        $("#mobile_error").text("");
                    }
                }
            });
        }

        if (!(error.name_error || error.mobile_error || error.real_error)) {
            return true;
        } else {
            return false;
        }
        $(".conformation-transfer").prop("disabled", false);
    }

    function displayTransactionHistory() {
        var time_from = $("#time_from").val();
        var time_to = $("#time_to").val();
        var transaction_type = $("#transaction_type").val();
        var user_name = $("#user_name").val();
        $.ajax({
            url: "/index/time_money/gettransactionhistory",
            method: "POST",
            data: {time_from: time_from, time_to: time_to, transaction_type: transaction_type, user_name: user_name},
            success: function (response) {
                response = JSON.parse(response);
                response = response.items;
                var options = {
                    dataSource: response,
                    callback: function (response, pagination) {
                        var dataHtml = '<div class="qk-portlet-content-1">';
                        dataHtml += '<table>';
                        dataHtml += '<thead>';
                        dataHtml += '<tr>';
                        dataHtml += '<th width="126px">序号</th>';
                        dataHtml += '<th width="303px">时间</th>';
                        dataHtml += '<th width="120px">方式</th>';
                        dataHtml += '<th width="188px">用户名</th>';
                        dataHtml += '<th width="122px">数量</th>';
                        dataHtml += '</tr>';
                        dataHtml += '</thead>';
                        dataHtml += '<tbody>';
                        var transaction_type = "";
                        var amount = "";
                        var length = response.length;
                        $.each(response, function (index, item) {
                            switch (item.transaction_type) {
                                case 1: transaction_type = "充值"; break;
                                case 2: transaction_type = "转赠"; break;
                                case 3: transaction_type = "购买"; break;
                                case 4: transaction_type = "发布项目"; break;
                                case 5: transaction_type = "承接项目"; break;
                            }
                            if (item.action) {
                                transaction_type = '<td style="color:#01dc96">' + transaction_type + '</td>';
                                amount = '<td style="color:#01dc96">' + '+' + item.amount + '</td>';
                            }
                            else {
                                transaction_type = '<td style="color:#ff5656">' + transaction_type + '</td>';
                                amount = '<td style="color:#ff5656">' + '-' + item.amount + '</td>';
                            }
                            dataHtml += '<tr>'
                            dataHtml += '<td>' + item.rank + '</td>';
                            dataHtml += '<td>' + item.create_time + '</td>';
                            dataHtml += transaction_type;
                            dataHtml += '<td>' + item.user_name + '</td>';
                            dataHtml += amount;
                            dataHtml += '</tr>'
                        });
                        dataHtml += '</tbody>';
                        dataHtml += '</table>';

                        container.prev().html(dataHtml);
                    }
                };
                container.pagination(options);
            }
        });
    }
</script> {/block}