{extend name="/common/templates/tpl-wo-sb"} {block name="page-title"}新用户注册{/block} {block name="main"}
<div class="blank">
    <div class="register-user">
        <div class="qk-portlet">
            <div class="qk-portlet-title">
                <img class="qk-portlet-title-icon" src="/assets/img/xuqiu.png" />
                <span class="qk-portlet-title-text">新用户注册</span>
            </div>
            <div class="qk-portlet-content form">
                <form id="register_form" role="form" action="/register" method="POST" style="margin-top:15px">
                    <input type="hidden" name="id" id="user_id" />
                    <span id="submit_error"></span>
                    <div class="form-group">
                        <label class="control-label">用 户 名：</label>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <input id="name" name="name" type="text" class="form-control" style="margin-left: -3px" required maxlength="20" />
                            <span class="err_text" id="name_error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">手机号码：</label>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <input id="mobile" name="mobile" type="text" class="form-control" required maxlength="11" minlength="11" />
                            <span class="err_text" id="mobile_error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">手机验证：</label>
                        <div>
                            <div class="input-group" style="height:100%">
                                <input name="mobile_verify_code" id="mobile_verify_code" type="text" class="form-control" required maxlength="4" minlength="4"
                                />
                                <span class="input-group-btn">
                                    <!-- <button onclick="create_phone_verify_code()" class="btn" type="button" id="get-veri-code-button">获取验证码</button> -->
                                    <input type="button" onclick="create_phone_verify_code()" class="btn" id="get-veri-code-button" value="获取验证码" />
                                </span>
                            </div>
                            <span class="err_text" id="mvc_err"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">登录密码：</label>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <input name="password" id="password" type="password" class="form-control" required minlength="4" />
                            <span class="err_text" id="pwd_error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">确认密码：</label>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <input id="password_confirm" type="password" class="form-control" required minlength="4" />
                            <span class="err_text" id="pwd_confirm_error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">所在地区：</label>
                        <div>
                            <select id="region" name="region" class="form-control" style="height:32px;width: 135px;font-size: 14px;padding-top: 3px;padding-left: 18px;display:inline;margin-right:5px">
                                <option value="" selected disabled hidden>请选择省市</option>
                                {foreach $region_level_1 as $key=>$val }
                                <option value="{$key}">{$val}</option>
                                {/foreach}
                            </select>
                            <select id="district" name="district" class="form-control" style="height:32px;width: 135px;font-size: 14px;padding-top: 3px;padding-left: 18px;display:inline">
                            </select>
                        </div>
                    </div>

                    <div class="form-group enter-veri-code" style="margin-bottom:14px">
                        <label class="control-label">验 证 码：</label>
                        <div class="input-icon right" style="margin-left: 3px">
                            <input id="captcha_code" name="captcha_code" type="text" class="form-control" style="width:180px;display:inline;" required
                                minlength="4" maxlength="4" />
                            <img src="{:url('verify')}" id="verifyImage" onclick="this.src=this.src" alt="captcha" style="float:right;" />
                            <div class="clearfix"></div>
                            <span class="err_text" id="captcha_error"></span>
                        </div>
                    </div>

                    <div class="user-agreement-check" style="margin-bottom:13px">
                        <div class="checkbox checkbox-primary" style="padding-left:0px;">
                            <input id="checkbox2" name="checkbox2" type="checkbox" required>
                            <label for="checkbox2" style="font-size:12px;padding-left: 9px;padding-top: 1px;">
                                我已看过并接受《用户协议》
                            </label>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div>
                        <p id="error" style="margin-left:140px;color:#ff5656"></p>
                    </div>

                    <div>
                        <button onclick="submit_register()" class="btn btn-register" style="margin-bottom:20px">立即注册</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{/block} {block name="custom-js"}
<script src="/assets/metronic/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/assets/metronic/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="/assets/metronic/global/plugins/jquery-validation/js/localization/messages_zh.min.js" type="text/javascript"></script>
<script src="/assets/js/common/common.js" type="text/javascript"></script>
<script>
    $("#get-veri-code-button").prop("disabled", true);
    var validation = {};
    validation.name = false;
    validation.mobile = false;
    validation.password = false;
    validation.password_confirm = false;
    validation.agree = false;
    validation.mvc = false;
    validation.captcha = false;
    validation.name_error = "请输入用户名！";
    validation.mobile_error = "请输入手机号码！";
    validation.password_error = "Password doesn't match!";
    validation.mvc_error = "手机验证码不正确！";
    validation.captcha_error = "验证码不正确！";

    $("#mobile_verify_code").prop("readonly", false);
    $(document).ready(function () {
        $(".btn-register").prop("disabled", true);
        $("#region").val(1);
        $("#region").change();
        $("#name").on('keyup blur', function () {
            var name = $(this).val();
            if (name.length == 0)
            {
                validation.name = false;
                // validation.name_error = "请输入用户名";
                $("#name_error").text("请输入用户名");
                all_valid();
            } else {
                $.ajax({
                    url: "/index/user/name_exists",
                    data: { name: name },
                    method: "GET",
                    success: function (response) {
                        if (response) {
                            validation.name = false;
                            // validation.name_error = "用户名已经存在！";
                            $("#name_error").text("用户名已经存在！");
                        } else {
                            validation.name = true;
                            // validation.name_error = "";
                            $("#name_error").text("");
                        }
                        all_valid();
                    }
                });
            }
        });

        $("#mobile").on('keyup blur', function () {
            var mobile = $(this).val();
            console.log(mobile + ": " + mobile.length);
            var isnum = /^\d+$/.test(mobile);
            console.log(mobile.length);
            if (mobile.length == 0)
            {
                validation.mobile = false;
                $("#mobile_error").text("请输入手机号码！");
                $("#get-veri-code-button").prop("disabled", true);
                all_valid();
            }else if (!isnum || mobile.length != 11){
                // validation.mobile_error = "手机号码格式不正确！";
                $("#mobile_error").text("手机号码格式不正确！");
                $("#get-veri-code-button").prop("disabled", true);
                validation.mobile = false;
                all_valid();
            } else {
                validation.mobile_error = "";
                $.ajax({
                    url: "/index/user/mobile_exists",
                    data: { mobile: mobile },
                    method: "GET",
                    success: function (response) {
                        if (response)
                        {
                            validation.mobile = false;
                            // validation.mobile_error = "手机号码已经存在！";
                            $("#mobile_error").text("手机号码已经存在！");
                            $("#get-veri-code-button").prop("disabled", true);
                        }
                        else {
                            validation.mobile = true;
                            // validation.mobile_error = "";
                            $("#mobile_error").text("");
                            $("#get-veri-code-button").prop("disabled", false);
                        }
                        all_valid();
                    }
                });
            }
        });

        $("#password").on('keyup blur', function () {
            var password = $(this).val();
            var password_confirm = $("#password_confirm").val();
            console.log(password.length);
            if (password.length < 4) {
                validation.password = false;
                $("#pwd_error").text("密码需要4个字以上。");
                // validation.password_error = "密码需要4个字以上。";
            } else if (password.length > 3 && password != password_confirm) {
                validation.password = false;
                // validation.password_error = "密码不同。";
                $("#pwd_error").text("");
                $("#pwd_confirm_error").text("密码不同。");
            } else if (password.length > 3 && password == password_confirm) {
                validation.password = true;
                // validation.password_error = "";
                $("#pwd_error").text("");
                $("#pwd_confirm_error").text("");
            }
            all_valid();
        });

        $("#password_confirm").on('keyup blur', function () {
            var password_confirm = $(this).val();
            var password = $("#password").val();
            console.log(password_confirm.length);
            if (password_confirm.length < 4) {
                validation.password = false;
                // validation.password_error = "密码需要4个字以上";
                $("#pwd_confirm_error").text("密码需要4个字以上。");
            } else if (password_confirm.length > 3 && password != password_confirm) {
                console.log(password_confirm.length);
                validation.password = false;
                // validation.password_error = "密码不同。";
                $("#pwd_confirm_error").text("密码不同。");
            } else if (password_confirm.length > 3 && password == password_confirm) {
                validation.password = true;
                // validation.password_error = "";
                $("#pwd_confirm_error").text("");
                $("#pwd_error").text("");
            }
            all_valid();
        });

        $("#mobile_verify_code").on('keyup blur', function() {
            var code = $(this).val();
            var isnum = /^\d+$/.test(code);
            console.log('code:' + code + ' ' + code.length);
            if (code.length == 4 && isnum)
            {
                validation.mvc = true;
                // validation.mvc_error = "";
                $("#mvc_error").text("");
                all_valid();
            } else {
                validation.mvc = false;
                // validation.mvc_error = "手机验证码不正确！";
                $("#mvc_error").text("手机验证码不正确！");
            }
        });

        $("#captcha_code").on('keyup blur', function () {
            var code = $(this).val();
            console.log(code.length);
            if (code.length == 4) {
                validation.captcha = true;
                // validation.captcha_error = "";
                $("#captcha_error").text("");
                all_valid();
            } else {
                validation.captcha = false;
                // validation.captcha_error = "验证码不正确！";
                $("#captcha_error").text("验证码不正确！");
            }
        });
    });

    function create_phone_verify_code() {
        var mobile = $("#mobile").val();
        if (!validation.mobile) {
            $("#mobile").focus();
        } else {
            $.ajax({
                url: "create_phone_verify_code",
                method: "post",
                data: { phone_number: mobile },
                success: function (response) {
                    result = JSON.parse(response);
                    console.log(result.result);
                    if (result.error) {
                        console.log(result.text);
                        $("#mvc_error").text(result.text);
                        // $("#mobile").focus();
                    } else {
                        console.log(result.code);
                        $("#mobile").prop("readonly", true);
                        $("#mobile_verify_code").prop("readonly", false);
                        time($("#get-veri-code-button"), 60);
                        clear_phone_verify_code_session();
                        $("#mobile").prop("readonly", false);
                        // $("#mobile_verify_code").prop("readonly", true);
                    }
                }
            });
        }
    }

    $("#region").change(function () {
        var region1 = $("#region").val();
        var container = $('#district');
        $.ajax({
            url: '/index/data_management.address_manage/getregion2byregion1/region1/' + region1,
            success: function (result) {
                var jsonData = JSON.parse(result);
                var response = jsonData.data;
                var dataHtml = '';
                $.each(response, function (index, item) {
                    dataHtml += '<option value="' + index + '">' + item + '</option>';
                });
                container.html(dataHtml);
            }
        })
    });

    function submit_register() {
        if ($("#name").val() == ""
            || $("#mobile").val() == ""
            || $("#mobile_verify_code").val() == ""
            || $("#password").val() == ""
            || $("#password").val() != $("#password_confirm").val()) {
                console.log("case 1");
            return 0;
        }
        else {
            console.log("case 2");
            $("#register_form").submit();
        }
    }

    function all_valid() {
        console.log("" + validation.name + validation.mobile + validation.password + validation.agree);
        if (!validation.name) error = error + validation.name_error + '<br>';
        if (!validation.mobile) error = error + validation.mobile_error + '<br>';
        if (!validation.password) error = error + validation.password_error + '<br>';
        if (!validation.mvc) error = error + validation.mvc_error + '<br>';
        if (!validation.captcha) error = error + validation.captcha_error + '<br>';

        if (validation.name &&
            validation.mobile &&
            validation.password &&
            validation.agree &&
            validation.mvc &&
            validation.captcha) {
                $(".btn-register").prop("disabled", false);
            } else {
                $(".btn-register").prop("disabled", true);
            }
    }

    $("#checkbox2").change(function() {
        validation.agree = this.checked;
        all_valid();
    })
</script> {/block}